{% extends "station/page/root.html" %}

{% block style %}
	<link type="text/css" rel="stylesheet" href="{{site_tag_url}}/static/css/station/page/off.css">
{% endblock %}

{% block main-right %}
<!-- RIGHT TAB -->
<div id="broadcasts-tab" class="tab-content">
	<div class="tab-items">
		<div class="init">No past broadcast.</div>
	</div>
	<a href="{{ site_url }}/{{ station_proxy.station.shortname }}" target="_top" class="btn primary tuto" data-original-title="More broadcasts from {{ station_proxy.station.name }} on Phonoblaster">More broadcasts</a>
</div>
<!-- Switch to on air popup -->
<div id="popup-onair" class="popup">
	<h2>{{ station_proxy.station.name }} is now ON AIR!</h2>
	<img src="https://graph.facebook.com/{{ station_proxy.station.key.name }}/picture?type=large" class="thumbnail"/>
	<h3>Now broadcasting:</h3>
	<div class="item-picture"><!-- No image --></div>
	<div class="item-title">
		<span class="middle"><!-- No title --></span>
	</div>
	<div class="modal-footer">
		<a href="{{ site_url }}/{{ station_proxy.station.shortname }}" class="btn primary">Check it out!</a>
	</div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{site_tag_url}}/static/js/common/tab.js"></script>

<script type="text/javascript" src="{{site_tag_url}}/static/js/player/favorite.js"></script>
<script type="text/javascript" src="{{site_tag_url}}/static/js/player/swfobject.js"></script>
<script type="text/javascript" src="{{site_tag_url}}/static/js/player/embedded.js"></script>

<script type="text/javascript" src="{{site_tag_url}}/static/js/station/comment.js"></script>

<script type="text/javascript" src="{{site_tag_url}}/static/js/station/off/broadcast.js"></script>
<script type="text/javascript" src="{{site_tag_url}}/static/js/station/off/off.js"></script>

<script type="text/javascript" src="{{site_tag_url}}/static/js/station/page/page.js"></script>
<script type="text/javascript" src="{{site_tag_url}}/static/js/station/page/off.js"></script>
<script type="text/javascript">
	//--- Reset ---
	USER = null;
	ADMIN = false;
	STATION = null;
	//--- User Initialization ---
	{% if user_proxy %} 
	USER = {
		"key_name": "{{ user_proxy.user.key.name }}",
		"name": "{{ user_proxy.user.first_name }} {{ user_proxy.user.last_name }}",
	}
	{% endif %}
	/*--- Admin Initialization ---*/
	{% if is_admin %} 
	ADMIN = true;
	{% endif %}
	//--- Station Initialization ---
	STATION = {
		"key_name": "{{ station_proxy.station.key.name }}",
		"shortname": "{{ station_proxy.station.shortname }}",
		"name": "{{ station_proxy.station.name}}",
	}
</script>
{% endblock %}