{% extends "station/page/root.html" %}

{% block style %}
	<link type="text/css" rel="stylesheet" href="/static/css/station/page/on.css">
{% endblock %}

{% block top-right %}
	<div id="top-right-sessions" class="stat">
		<span class="figure">0</span>
		<span class="title">Listeners<span>
	</div>
{% endblock %}

{% block main-right %}
<div id="queue-tab" class="tab-content">
	<div class="tab-items">
		<div class="init">No track in the queue.</div>
	</div>
	{% if not is_admin %}
	<a href="{{ site_url }}/{{ station_proxy.station.shortname }}" target="_top" class="btn primary tuto" data-original-title="Suggest the next track {{ station_proxy.station.name }} will broadcast!">Suggest a track!</a>
	{% else %}
	<a href="{{ site_url }}/{{ station_proxy.station.shortname }}" target="_top" class="btn primary tuto" data-original-title="Add the next track on Phonoblaster!">Add a track!</a>
	{% endif %}
</div>
{% endblock %}

{% block script %}
<!-- Pubnub -->
<div sub-key="sub-aa6b101e-24e9-11e1-ab04-3b69d50a7fd4" ssl="off" origin="pubsub.pubnub.com" id="pubnub"></div>
<script src="https://pubnub.s3.amazonaws.com/pubnub-3.1.min.js"></script>
<!-- App Engine -->
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<!-- Station -->
<script type="text/javascript" src="/static/js/library/json2.js"></script>
<script type="text/javascript" src="/static/js/library/favorite.js"></script>

<script type="text/javascript" src="/static/js/station/swfobject.js"></script>
<script type="text/javascript" src="/static/js/station/tab.js"></script>
<script type="text/javascript" src="/static/js/station/comment.js"></script>
<script type="text/javascript" src="/static/js/station/counter.js"></script>

<script type="text/javascript" src="/static/js/station/on/session.js"></script>
<script type="text/javascript" src="/static/js/station/on/chromeless.js"></script>
<script type="text/javascript" src="/static/js/station/on/queue.js"></script>
<script type="text/javascript" src="/static/js/station/on/on.js"></script>

<script type="text/javascript" src="/static/js/station/page/page.js"></script>
<script type="text/javascript" src="/static/js/station/page/on.js"></script>
<script type="text/javascript">
	/*--- Reset ---*/
	USER = null;
	ADMIN = false;
	//--- User Initialization ---
	{% if user_proxy %} 
	USER = {
		"key_name": "{{ user_proxy.user.key.name }}",
		"name": "{{ user_proxy.user.first_name }} {{ user_proxy.user.last_name }}",
	}
	{% endif %}
	/*--- Admin Initialization ---*/
	{% if is_admin %} 
	ADMIN = true;
	{% endif %}
	//--- Station Initialization ---
	STATION = {
		"key_name": "{{ station_proxy.station.key.name }}",
		"shortname": "{{ station_proxy.station.shortname }}",
		"name": "{{ station_proxy.station.name}}",
	}
</script>
{% endblock %}