@import url("root.css");

/* ------ A FEW CORRECTIONS ---- */

#video-details{
	border-top:1px solid #DDD;
}

/*------ BROADCASTS TAB ------*/

#broadcasts-tab{
	margin-top:5px;
	width:230px;
}

#broadcasts-tab div.tab-items{
	width:228px;
	border-top:1px solid #DDD;
}

#broadcasts-tab a:hover{
	color:#404040;
}

#broadcasts-tab h3{
	padding:10px;
	font-size:14px;
	padding-bottom:11px;
	padding-left:6px;
}

.item{
	cursor:pointer;
}

.item:hover{
	background-color: #F6F6F6;
}

.item.active{
	background-color: #E6E6E6;
}

.item.active:hover{
	background-color: #E6E6E6;
}
