@import url("root.css");

/* ----- PRESENCES ------ */

div#presences{
	float:right;
	padding:4px;
}

#presences strong.number{
	font-size:16px;
}

/* ------- QUEUE TAB -------- */

#queue-tab{
	margin-top:5px;
	width:230px;
}

#queue-tab div.tab-items{
	margin-top:0px;
	width:228px;
	border-top:1px solid #DDD;
}

#queue-tab a.btn{
	margin-top:5px;
}

#queue-tab a.btn h3{
	width:200px;
	text-align:center;
}

.item .cross{
	display:none;
}



