@import url("../root.css");

/* ------ OVERWRITES ------ */

html{
	overflow-y:visible;
}

#main{
	margin-top:0px;
	padding:0px;
	min-height:700px;
}

.container{
	padding:5px;
	width:510px;
	height:100%;
}

#station-title h2{
	margin-top:3px;
}

#station-title a{
	text-decoration:none;
}

#station-title .btn{
	display:block;
	float:left;
	margin-left:10px;
	cursor:auto;
}

/* ----- COMMENTS ------ */

#comments{
	margin-top:5px;
	width:273px;
	border-top:1px solid #DDD;
}

#comment-box{
	display:block;
	float:left;
	width:263px;
	padding:5px;
	border-bottom: 1px solid #DDD;
}

#comment-box form{
	width:231px;
}

input#comment{
	width:189px;
}

span#fb-sync{
	margin-right:0px;
}

#comments-zone{
	min-height:500px;
	padding-bottom:5px;
}

.comment{
	width:265px;
}

.comment .content{
	width:230px;
}

.comment .border{
	width:228px;
}

/* ------- ITEMS ------- */

#main div.tab-items{
	height:450px;
	width:508px;
	background:white;
	border:1px solid #DDD;
	border-top:none;
}

.item{
	padding:5px;
}

.item .square {
	height:34px;
	width:60px;
}

.item .square img {
	top:-28px;
	left:-20px;
}

.item .title {
	padding-right:0px;
	width:150px;
	height:34px;
}

.item .title span {
	height:34px;
}

.item .subtitle{
	display:none;
}

/*
.item .square{
	height:40px;
	width:80px;
}

.item .square img{
	top:-30px;
	left:-18px;
}


.item .title{
	padding-right:50px;
	width:180px;
	height:40px;
}

.item .title span{
	height:40px;
}

.item .subtitle{
	margin-top:10px;
}

#main .item div.duration{
	float:right;
}
*/


/* ------- ERROR ------- */

div#error{
	float:none;
	margin:auto;
	width:350px;
}

#error h1{
	margin-top:30px;
	margin-bottom:30px;
}

#error p{
	margin-top:30px;
	margin-bottom:30px;
	text-align:center;
	width:100%;
}

#error img{
	width:300px;
}

/* ------ FOOTER ------ */

#bottom-bar{
	height:100px;
}

#bottom-bar .container{
	padding:0px;
}

#bottom-bar img{
	height:30px;
	margin-left:160px;
	margin-top:10px;
	margin-bottom:5px;
}

#bottom-bar p{
	margin-left:185px;
	color:#F6F6F6;
}