@import url("../root.css");

/* ------ OVERWRITES ------ */

html{
	overflow-y:visible;
}

#main{
	margin-top:0px;
	padding:0px;
	min-height:700px;
}

.container{
	padding:5px;
	width:510px;
	height:100%;
}

/* ---- STATION TITLE ----*/

#station-title h2{
	margin-top:3px;
}

#station-title a{
	text-decoration:none;
}

#station-title .btn{
	display:block;
	float:left;
	margin-left:10px;
	cursor:auto;
}

/* ----- VIDEO DETAILS ----*/

#video-details{
	height:53px;
}

#video-details .clip{
	margin-right:3px;
	height:53px;
	width:94px;
}

#video-details .clip img{
	top:-18px;
	left:-11px;
}

#video-details h3{
	padding:5px;
	padding-bottom:2px;
	padding-right:8px;
}

#favorite-track{
	height:23px;
	padding-top:2px;
}

#video-details .title{
	padding:5px;
	padding-top:7px;
	height:16px;
	width:393px;
}

#video-details .title span{
	height:16px;
}

/* ----- COMMENTS ------ */

#comments{
	margin-top:5px;
	margin-right:5px;
	width:273px;
	border-top:1px solid #DDD;
}

#comment-box{
	display:block;
	float:left;
	width:263px;
	padding:5px;
	border-bottom: 1px solid #DDD;
}

#comment-box form{
	width:231px;
}

input#comment{
	width:189px;
}

span#fb-sync{
	margin-right:0px;
}

#comments-zone{
	min-height:466px;
	padding-bottom:5px;
}

.comment{
	width:265px;
}

.comment .content{
	width:230px;
}

.comment .border{
	width:228px;
}

.comment .content span.clip{
	height:34px;
	width:60px;
}

.comment .content span.clip img{
	top:-28px;
	left:-17px;
}

#main .comment div.title{
	margin-top:4px;
	margin-bottom:4px;
	height:34px;
	width:160px;
}

.comment .title span{
	height:34px;
}


/* ------- ITEMS ------- */

#main div.tab-items{
	min-height:250px;
	width:508px;
	background:white;
	border:1px solid #DDD;
	border-top:none;
}

.item{
	padding:5px;
}

.item .square {
	height:34px;
	width:60px;
}

.item .square img {
	top:-28px;
	left:-32px;
}

.item .title {
	padding-right:0px;
	width:150px;
	height:34px;
}

.item .title span {
	height:34px;
	line-height:16px;
}

.item .subtitle{
	display:none;
}

/* ------- ERROR ------- */

div#error{
	float:none;
	margin:auto;
	width:350px;
}

#error h1{
	margin-top:30px;
	margin-bottom:30px;
}

#error p{
	margin-top:30px;
	margin-bottom:30px;
	text-align:center;
	width:100%;
}

#error img{
	width:300px;
}

/* ------ FOOTER ------ */

#bottom-bar{
	height:100px;
}

#bottom-bar .container{
	padding:0px;
}

#bottom-bar img{
	height:30px;
	margin-left:160px;
	margin-top:10px;
	margin-bottom:5px;
}

#bottom-bar p{
	margin-left:185px;
	color:#F6F6F6;
}