/* ------ OVERWRITES ------ */

html{
	overflow-x:hidden;
	overflow-y:visible;
}

body{
	padding-bottom:0px;
}

#main{
	padding:0px;
	min-height:600px;
}

.container{
	padding:5px;
	width:510px;
	height:100%;
	background:url("/static/images/grid.png");
}

/* ----- TOP LEFT CORRECTIONS ----- */

#top-left-description{
	height:42px;
}

#top-left-description{
	width:510px;
}

#top-left-title{
	width:auto;
}

#top-left-description .stroke{
	margin-top:2px;
	margin-bottom:2px;
	margin-right:6px;
}

#top-left-status{
	margin-top:-24px;
}

/* ---- MAIN LEFT CORRECTIONS ----- */

#media{
	margin-left:0px;
	width:510px;
	height:287px;
}

#media .loader{
	margin-top:106px;
}

#media-monitoring, #media-details{
	padding-left:10px;
	padding-right:10px;
	width:488px;
	background:#FFFFFF;
	border-left:1px solid #E1E1E1;
	border-right:1px solid #E1E1E1;
}

#media-picture{
	width:80px;
}

#media-picture img{
	left:-20px;
}

#media-details-center{
	width:318px;
}

#media-title{
	padding-right:10px;
	width:308px;
}

#media-details-center-top{
	width:298px;
}

#media-details-right{
	width:79px;
}

/* ---- COMMENTS ---- */

div#comments-input{
	width:488px;
	border-top:none;
}

form#comments-form{
	width:430px;
}

input#comments-input{
	width:332px;
}

#comments-display{
	width:279px;
	min-height:250px;
}

#comments-footer{
	display:none;
}

.comment{
	padding:5px;
	width:270px;
}

.comment-submitter-picture{
	padding-right:5px;
	width:28px;
	height:28px;
}

.comment-submitter-picture img{
	width:28px;
	height:28px;
}

.comment-content{
	padding:5px;
	width:215px;
}

.comment-content .item-picture{
	height:34px;
	width:60px;
}

.comment-content .item-picture img{
	top:-28px;
	left:-30px;
}

.comment-content .item-title{
	margin-top:4px;
	margin-bottom:4px;
	height:34px;
	width:135px;
}

.comment-time{
	display:none;
}

/*------ RIGHT TAB -----*/

.tab-content{
	display:block;
	margin-left:-1px;
	width:228px;
	min-height:250px;
	border:1px solid #E1E1E1;
	border-top:none;
}

.tab-content .tab-items{
	padding:5px;
	width:218px;
	min-height:160px;
	border-bottom:3px solid #000000;
}

.item{
	margin-bottom:5px;
	padding:5px;
}

.item:last-child{
	margin-bottom:0px;
}

.item-picture{
	height:34px;
	width:60px;
}

.item-picture img {
	top:-28px;
	left:-30px;
}

a.item-cross{
	display:none;
}

.item-title {
	padding:0px;
	width:138px;
	height:34px;
}

.item-title span {
	height:34px;
	line-height:16px;
}

.item-subtitle{
	display:none;
}

.tab-content a.btn.primary{
	float:left;
	margin:20px;
	padding:10px;
	margin-left:44px;
	width:120px;
	text-align:center;
}

/* ------- ERROR ------- */

div#error{
	float:none;
	margin:auto;
	width:350px;
}

#error h1{
	margin-top:30px;
	margin-bottom:30px;
}

#error p{
	margin-top:30px;
	margin-bottom:30px;
	text-align:center;
	width:100%;
}

#error img{
	width:300px;
}

/* ------ FOOTER ------ */

#bottom-bar{
	height:0px;
	margin-bottom:40px;
}

#bottom-bar .container{
	padding:0px;
}

#bottom-bar img{
	height:20px;
	margin-left:10px;
	margin-top:16px;
}

#bottom-bar p{
	margin-left:185px;
	color:#F6F6F6;
}




