/* --------- USER PROFILE --------- */

/* -------- CORRECTION --------- */

#main{
	padding-top:50px;
}

/*-------- LEFT-COLUMN ---------- */

#left-column{
	position:fixed;
	padding-top:10px;
	width:120px;
	height:100%;
}

#left-column img#profile{
	max-width:99.5%;
	max-height:300px;
}

#public_name{
	padding-top:10px;
	width:100%;
	text-align:center;
}

/*-------- MIDDLE-COLUMN -------- */

#middle-column{
	margin-left:13%;
	padding-top:10px;
	width:700px;
}

#middle-column h2{
	width:350px;
	padding-top:2px;
	padding-left:1%;
	margin-bottom:10px;
	font-size:16px;
	font-weight:bold;
	font-style:italic;
	color:#373535;
}

/* -------- STATION THUMBNAIL ----- */

.station{
	margin-bottom:10px;
	padding-left:2%;
	width:98%;
}

.station .information{
	width:50%;
	margin-left:2%;
}

.station p.identifier{
	margin-bottom:10px;
	padding-top:10px;
	padding-left:2%;
	width:98%;
	font-weight:bold;
}

.station p.description{
	padding-top:10px;
	padding-bottom:10px;
	padding-left:2%;
	padding-right:2%;
	width:96%;
	min-height:50px;
	font-size:13px;
	color:#373535;
	background:white;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

.station a.button{
	display:block;
	float:left;
	margin-top:50px;
	margin-left:2%;
	padding:8px;
}
