@import url("header.css");
@import url("footer.css");

/* ----- BOOTSTRAP OVERWRITE ----- */

body{
	background: #222;
}

.container{
	width:1000px;
}

/* ----- CUSTOM CSS ----- */

#main{
	margin-top:56px;
	width:100%;
	padding-bottom:20px;
	min-height:600px;
	background:#F6F6F6;
}

#main div, #main p, #main h1, #main h2, #main h3, #main h4, #main h5, #main h6, #main form {
	float:left;
}

#main div.container{
	float:none;
}