/* ---------- FOOTER ---------- */

#bottom-bar{
	margin-top:-1px;
	width:100%;
	border-top:1px solid #E1E1E1;
	background-color: #F1F1F1;
}

#bottom-bar .section{
	margin-top:30px;
	margin-bottom:30px;
	margin-right:130px;
}

#bottom-bar .section h2{
	font-size:16px;
	line-height:16px;
	font-family:Futura;
	letter-spacing:0px;
	color:#333333;
}

#bottom-bar .section p{
	width:100%;
	color:#7F7F7F;
}

#bottom-bar .section p a{
	color:#7F7F7F;
}

#bottom-bar .section p a:hover{
	color:#4F4F4F;
	text-decoration:none;
}

#bottom-bar #about{
	margin-left:20px;
	width:320px;
}

#bottom-bar #contact{
	margin-right:0px;
	width:146px;
}

