/* ----- BOOTSTRAP OVERWRITE ---- */

.topbar{
	float:left;
	height:50px;
	width:100%;
	position:static;	
}

.topbar-inner{
	padding-top:10px;
	padding-bottom:10px;
	width:100%;
}

.topbar-inner a:hover{
	text-decoration:none;
	color:white;
}

/*----- CUSTOM CSS ------*/

.topbar-inner h1{
	display:none;
}

.topbar-inner a#logo{
	display:block;
	float:left;
	width:190px;
	height:30px;
	background:url("/static/images/phonoblaster-sprits.png");
	background-position:0px 0px;
}

.topbar-inner #menu{
	float:right;
}

.topbar-inner #menu div{
	float:left;
	padding-right:10px;
	padding-left:10px;
	line-height:28px;
	color:white;
}

.topbar-inner #menu div a{
	float:left;
}

.topbar-inner a.login{
	display:block;
	margin-top:0px;
	width:178px;
	height:30px;
	text-indent:-3000px;
	background-image:url("/static/images/phonoblaster-sprits.png");
	background-position:-5px -230px;
	border-radius: 6px;
}