/* ----- BOOTSTRAP OVERWRITE ---- */

.topbar{
	float:left;
	height:46px;
	z-index:999;	
}

.topbar-inner{
	padding-top:8px;
	padding-bottom:8px;
}

.topbar-inner a:hover{
	text-decoration:none;
	color:white;
}

/*----- CUSTOM CSS ------*/

.topbar-inner h1{
	display:none;
}

.topbar-inner a#logo{
	display:block;
	float:left;
	padding-top:2px;
}

.topbar-inner a#logo img{
	width: 150px;
}

.topbar-inner #menu{
	float:right;
	padding-top:2px;
}

.topbar-inner #menu div{
	float:left;
	padding-right:8px;
	padding-left:8px;
	line-height:30px;
	color:white;
}

.topbar-inner #menu div a{
	float:left;
	color:white;
}