/* ------ GENERAL ------- */

#main .container{
	width:980px;
	margin-top: 20px;
}

#left-column{
	width:420px;
}

#right-column{
	margin-top:-20px;
	margin-bottom:-15px;
	padding-top:15px;
	padding-bottom:15px;
	width:543px;
	min-height:800px;
	border:1px solid #E1E1E1;
	border-top:none;
	/*background:url("/static/images/grid.png");*/
}

#right-column .content{
	padding:25px;
	width:452px;
	background:#FFFFFF;
	border: 1px solid #E1E1E1;
	margin-left: 20px;
	margin-right: 20px;
}

#right-column #feed-title{
	font-family: Futura;
	font-style: oblique;
	font-size: 14px;
	color: #5A5A5A;
	margin-left: 35px;
	margin-bottom: 15px;
	margin-top: 14px;
	letter-spacing: 0px;
}

/* ------ HOME PROFILE ----- */

#home-profile{
	width:100%;
	padding-bottom:20px;
}

#home-profile img{
	height: 70px;
	width: 70px;
	display:block;
	float:left;
	margin-right:20px;
	margin-left: 20px;
}

#home-profile p.name{
	margin-bottom: 14px;
	width: 306px;
	font-size: 18px;
	font-family: Futura;
	margin-top: 14px;
	letter-spacing: 0px;
}

#home-profile p a{
	color:#5A5A5A;

}

/* ----- HOME STATIONS ------ */

#home-user-stations{
	width:100%;
}

#home-user-stations img{
	display:block;
	float:left;
	height:40px;
	margin-right: 15px;
}

#home-user-stations p{
	height:25px;
	width:330px;
	overflow:hidden;
	line-height:25px;
	font-family: Futura;
	font-size: 14px;
	padding-top: 8px;
	letter-spacing: 0px;
}

.home-user-station{
	width: 400px;
	padding-bottom: 15px;
	padding-left: 20px;
}

.home-user-station:first-child{
	padding-top: 15px;
	border-top: 1px solid #E1E1E1;
}

#home-user-stations a.btn.primary{
	float:left;
}

#home-create-new-station{
	display:block;
	float:left;
	width:100%;
	border-top:1px solid #E1E1E1;
	border-bottom: 1px solid #E1E1E1;
	height: 118px;
}

#other-stations{
	padding-left: 20px;
	padding-top: 15px;
	border-top: 1px solid #E1E1E1;
	width: 400px;
}

#home-create-new-station p{
	font-family: Verdana;
	font-size: 11px;
	color: #7F7F7F;
	padding-top: 29px;
	padding-bottom: 13px;
	width: 420px;
	text-align: center;
	letter-spacing: 0px;
}

#home-create-new-station a.btn.primary {
	float: none;
	font-family: Futura;
	font-style: oblique;
	font-size: 14px;
	color: #FFFFFF;
	background: rgba(0, 0, 0, 0.5);
	text-transform: none;
	width: 200px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 63px;
	margin-bottom: 39px;
	line-height: 20px;
}

#home-create-new-station a.btn.primary:hover{
	color: #000000;
	background: rgba(255, 255, 255, 0.5);	
}

/* ------ FEED ------- */

.home-feed-item{
	padding-bottom:25px;
	margin-bottom:25px;
	padding-left: 5px;
	padding-right: 5px;
	border-bottom:1px solid #E1E1E1;
}

.home-feed-item:last-child{
	padding-bottom:0px;
	margin-bottom:0px;
	border:none;
}

.home-feed-station{
	width: 265px;
	height: 48px;
	background:white;
}

.home-feed-station img{
	display:block;
	float:left;
	margin-right:15px;
	width: 48px;
	height: 48px;
}

.home-feed-station p{
	width: 200px;
	height: 22px;
	line-height: 8px;
	overflow:hidden;
}

.home-feed-station p span{
	height: 17px;
}

.home-feed-station p a{
	color: #5A5A5A;
	font-family: Futura;
	font-size: 14px;
	letter-spacing: 0px;
}

.home-feed-station-right{
	width:75px;
	height:50px;
	margin-top: 6px;
}

.home-feed-status{
	margin-bottom:10px;
	padding-top:3px;
	padding-bottom:1px;
	width:73px;
	text-transform:uppercase;
	text-align:center;
	font-family:Futura;
	letter-spacing:1px;
}

.home-feed-status.off{
	color:#636363;
	background:#C4C4C4;
	border:1px solid #E1E1E1;
}

.home-feed-status.on{
	color:white;
	background:#D42222;
	border:1px solid #DB7171;
}

.home-feed-status.off a, .home-feed-status.off a:hover{
	color:#636363;
}

.home-feed-status.on a, .home-feed-status.on a:hover{
	color:white;
}

.home-feed-arrow{
	margin-top:30px;
	margin-left:5px;
	border-top:5px solid transparent;
	border-bottom:5px solid transparent;
	border-right:5px solid #E1E1E1;
}

.home-feed-track{
	width:177px;
	height:48px;
	background:white;
}

.home-feed-track-picture{
	margin-right:20px;
	float:left;
	position:relative;
	width:50px;
	height:50px;
	overflow:hidden;
}

.home-feed-track-picture img{
	height:48px;
	width:48px;
	-webkit-border-radius:35px;
	-moz-border-radius:35px;
	border-radius:35px;
}

.home-feed-track p{
	height:50px;
	width:105px;
	overflow:hidden;
	font-family: verdana;
	font-size: 10px;
	color: #7A7A7A;
}

.home-feed-track p a{
	color:#7F7F7F;
}

.home-feed-track p a:hover{
	color:#636363;
	text-decoration:none;
}

.home-feed-track p span{
	height:50px;
	font-size:10px;
}

.image-wrap{
	position:relative;
	display:inline-block;
	width:50px;
	height:50px;
	-webkit-border-radius:50em;
	-moz-border-radius:50em;
	border-radius:50em;
}

/* --------------------------------------------- STATION ADMINISTRATION --------------------------------------------- */

a.create{
	background:url("/static/images/phonoblaster-sprits.png");
	background-position:-150px -90px;
}

a.manage{
	background:url("/static/images/phonoblaster-sprits.png");
	background-position:-128px -90px;
}

.action{
	width:15px;
	height:15px;
}

#station-admin-actions{
	width:35px;
	height:15px;
	float:right;
	margin-right:2px;
}

.action a{
	display: block;
	width:100%;
	height:100%;
}


#station-admin {
	color:#7F7F7F;
	margin-bottom: 5px;
	width: 100%;
}

div#action-manage-station{
	float:right;
}

div#action-create-station{
	float:left;
}