.widget{
	position:relative;
	width:250px;
	height:283px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:white;	
}

.songs  {
	width:248px;
	height:190px;
	color:black;
	background:#F6F6F6;
	border-right: 1px solid #DDD;
	border-left:1px solid #DDD;
	padding-top: 5px;
}

.widget{
	border: 1px solid #DDD;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);	
}

.station {
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#333333), to(#222222));
	background-image: -moz-linear-gradient(top, #333333, #222222);
	background-image: -ms-linear-gradient(top, #333333, #222222);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #222222));
	background-image: -webkit-linear-gradient(top, #333333, #222222);
	background-image: -o-linear-gradient(top, #333333, #222222);
	background-image: linear-gradient(top, #333333, #222222);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

a{
	text-decoration:none;
	color:white;
}



/* Display information about the station */

.station{
	padding-top:3px;
	width:250px;
	height:55px;
	display:block;
}

img#station{
	height:50px;
	width:50px;
	float:left;
	margin-left:3px;
	border:1px solid #DDD;
}

.station .info{
	margin-left:67px;
	padding-top:5px;
	font-size:13px;
}

.identifier{
	overflow:hidden;
	width:100px;
}

.listeners{
	float:left;
	padding-top:5px;
	font-size:11px;
	color:#D3D3D3;
}



/* The 3 following are for the button from Twitter bootstrap */

a.button {
	float:right;
	cursor: pointer;
	display: inline-block;
	background-color: #E6E6E6;
	background-repeat: no-repeat;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
	background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	padding: 5px 14px 6px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	color: #333;
	font-size: 13px;
	line-height: normal;
	border: 1px solid #CCC;
	border-bottom-color: #BBB;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-transition: 0.1s linear all;
	-moz-transition: 0.1s linear all;
	-ms-transition: 0.1s linear all;
	-o-transition: 0.1s linear all;
	transition: 0.1s linear all;
	margin-top:3px;
	margin-right:10px;
}

.button:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}

.button.danger {
	color: #ffffff;
	background-color: #c43c35;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
	background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: linear-gradient(top, #ee5f5b, #c43c35);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #c43c35 #c43c35 #882a25;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}



/* A few things common to different divs */

.current_song .info, .next_song .info {
	display:table-cell;
	vertical-align:middle;
} 

.current_song .info, .next_song .info {
	padding: 3px 3px 3px 7px;
}

.current_song img, img#next_song_thumbnail, img#next_history_thumbnail {
	display: block;
	float: left;
	padding: 2px;
	border: 1px solid #DDD;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

.current_song,.next_song,.no_song{
	color:#404040;
}



/* Display information about the current track */

.current_song{
	height:70px;
	display:block;
	padding: 5px 5px 0px 5px;
	width:240px;
}

.current_song img{
	float:left;
	height:60px;
	margin-left:5px;
}

.current_song .info{
	font-size:12px;
	height:60px;
	width: 130px;
}

.current_song .current_track_name{
	overflow:hidden;
	height:45px;
}

.current_song .playing{
	border: 1px solid #DDD;
	height:5px;
	width:130px;
	margin-top:4px;
	text-align:center;

}

.current_song .filler{
	background: #A6A6A6;
	height:5px;
	width:0px;
	text-align:center;
}

.current_song .current_track_title{
	display:table-cell;
	vertical-align:middle;
	height:45px;
}


/* Display of information about next tracks */

.next_songs{
	display: block;
	width: 180px;
	padding: 0px 0px 5px 35px;
}

.next_song{
	height:50px;
	display:block;
	margin-top:5px;
	margin-bottom:5px;
}

.next_song .next_song_content{
	height:41px;
	overflow:hidden;
}

.next_song .info{
	font-size:10px;
	margin-left:70px;
	margin-top:5px;
	height:40px;
	width:125px;
	overflow:hidden;
}

img#next_song_thumbnail, img#next_history_thumbnail{
	float:left;
	height:40px;
	margin-left:1px;
}



/* Display of the recently played tracks when no current song */

.no_song{
	height:192px;
	font-size:13px;
	padding-top:5px;
	padding-left:2px;
}	

#title {
	padding-left:4px;
	display:block;
	font-size:13px;
}

.no_song .left_column, .no_song .right_column{
	width:122px;
	float:left;
	margin-top:4px;
	padding:0px 0px 0px 0px;
}


.no_song .next_history{
	font-size:10px;
	height:48px;
	display:block;
	padding: 5px 0px 0px 0px;
}

.no_song .current_track_title{
	display:table-cell;
	vertical-align:middle;
	height:40px	;
}

.next_history .info {
	overflow:hidden;
	padding: 0px 0px 0px 3px;
	height:37px;
}



/* Phonoblaster logo on the bottom of the widget */

.footer{
	padding-top:7px;
	width:248px;
	height:22px;
	border-right: 1px solid #DDD;
	border-left: 1px solid #DDD;
	border-bottom: 1px solid #DDD;	
	display:block;
	background:#F6F6F6;
}

.footer img{
	display:block;
	margin:auto;
	width:106px;
	height:20px;
}