/*-------- CONTRIBUTORS ----------- */

#contributors{
	width:530px;
	padding-top:16px;
	padding-left:10px;
}

#contributors p a#invite{
	display:block;
	float:left;
	margin-top:10px;
	padding:10px;
	color:white;
}

#contributors #skipthis{
	width:100%;
	padding-top:26px;
	padding-bottom:4px;
}

#contributors #skipthis p{
	padding-top:10px;
	padding-right:10px;
}

#contributors #skipthis a{
	padding:10px;
}

.contributor-info{
	padding-right:10px;
	width:30%;
	height:52px;
}

.contributor-info img{
	display:block;
	float:left;
	width:40px;
	margin-right:4%;
}

p.contributor-name{
	width:90px;
}

p.contributor-name a{
	display:table-cell;
	padding:0px;
	padding-left:8%;
	height:50px;
	vertical-align:middle;
	width:90px;
}

p.contributor-delete{
	padding-top:5px;
	width:6%;
}

p.contributor-delete span{
	display:none,;
}

p.contributor-delete img{
	display:block;
	float:right;
	height:10px;
	width:10px;	
	border:none;
}