/* -------- GENERAL ------- */

#main .container{
	width:530px;
}

#left-column{
	width:180px;
	padding-top: 15px;
}

#right-column{
	/*margin-top:-15px;*/
	margin-bottom:-15px;
	padding-top:15px;
	padding-bottom:15px;
	width:348px;
	min-height:800px;
	border:1px solid #E1E1E1;
	border-top:none;
	background:url("/static/images/grid.png");
}

#right-column .content{
	padding:15px;
	width:318px;
	background:#F1F1F1;
	border-top:1px solid #E1E1E1;
	border-bottom:1px solid #E1E1E1;
}


/* ----- LEFT-COLUMN ----- */

.creation-step h1{
	margin-right:15px;
}

.creation-box{
	padding:15px;
	height:172px;
	width:102px;
	text-align:center;
	background:url("/static/images/arrow-white.png");
}

.creation-box img{
	display:block;
	margin:auto;
	width:100px;
}

.creation-box h2{
	width:100%;
	line-height:40px;
	letter-spacing:0px;
}

.creation-box p{
	color:#7F7F7F;
}

.light .creation-box{
	padding-top:30px;
	height:157px;
	background:url("/static/images/arrow-grey.png");
}

.light h1, .light .creation-box h2{
	color:#7F7F7F;
}

.light .creation-box p{
	color:#C4C4C4;
}

.contribution{
	margin-bottom:10px;
	padding:10px;
	width:298px;
	background:white;
}

.contribution img{
	display:block;
	float:left;
}

p.page-name{
	padding:8px;
	width:120px;
	height:34px;
}

p.page-name span{
	height:34px;
}

img.loader{
	margin-top:16px;
	margin-right:5px;
	height:20px;
	width:20px;
}

.contribution .btn{
	float:right;
	margin-top:14px;
	width:70px;
	text-align:center;
}

#creation-skip{
	text-align:right;
	padding:15px;
	width:318px;
	line-height:30px;
}

#creation-skip a{
	float:right;
	padding:7px;
	margin-left:10px;
}

/*---------- POP UP CREATION STATION -----------*/

#popup-contribution{
	display:none;
	width:500px;
	padding-top:18px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}

#popup-contribution div, #popup-contribution h3{
	float:left;
}

#popup-contribution h3{
	width:245px;
	margin-left:20px;
	margin-top:25px;
}

#page-confirmation p{
	clear:left;
	margin-left:40px;
}

#page-screenshot{
	padding:4px;
	width:190px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	border: 1px solid #CCC;
}

#page-screenshot div.facebook-tab{
	padding:4px;
	width:182px;
}

#page-screenshot span.facebook-sprit{
	float:left;
	display:inline-block;
	height:16px;
	width:16px;
	margin-right:4px;
	background-repeat:no-repeat;
	background:url("/static/images/facebook-sprits.png");
}

#page-screenshot span.wall{
	background-position:-120px -108px;
}

#page-screenshot span.info{
	background-position:-85px -126px;
}

#page-screenshot span.photos{
	background-position:-50px -91px;
}

#page-screenshot span.phonoblaster{
	background-position:-52px -143px;
}

#address-confirmation{
	width:100%;
}

#address-confirmation form{
	float:left;
	width:100%;
	margin-bottom:0px;
}

#address-confirmation p{
	clear:left;
	float:left;
	margin-top:5px;
	margin-left:40px;
	margin-bottom:0px;
	margin-right:5px;
	width:148px;
}

#address-confirmation input#page-shortname{
	float:left;
	width:150px;
}

#shortname-status{
	margin-top:7px;
	margin-left:7px;
}

#address-confirmation .checking{
	font-style:italic;
}

#address-confirmation .available{
	color:#57A957;
}

#address-confirmation .unavailable{
	color:#C43C35;
}

#popup-contribution .modal-footer{
	clear:left;
	float:left;
	width:470px;
	margin-top:30px;
	-webkit-border-radius:0px 0px 4px 4px;
	-moz-border-radius:0px 0px 4px 4px;
	border-radius:0px 0px 4px 4px;
}

div#shortname-warning{
	display:none;
	float:right;
	margin:0px;
	padding-top:8px;
	width:226px;
	color:#C43C35;
}

#popup-contribution .modal-footer input{
	padding:8px;
}