/* ---------- CORRECTION --------- */

#middle-column{
	position:static;
	margin-left:13%;
	width:80%;
}

/* ---------- IMAGES AT THE TOP ---------- */

#image_wrapper #image img{
	max-width:200px;
	max-height:200px;
}

/* ---------- STATION EDIT --------------*/

.fields{
	padding-top:10px;
	clear:left;
	width:800px;
}

form{
	float:left;
	width:800px;
}

.field_row{
	padding-top:10px;
	padding-bottom:10px;
	width:800px;
}

.left{
	padding-top:4px;
	padding-right:30px;
	width:90px;
	text-align:right;
	font-size:15px;
	color:#373535;
}

.center{
	width:680px;
}

.error{
	margin-bottom:10px;
	padding-top:4px;
	padding-left:4px;
	width:680px;
	color:#F36359;
}

/* ------ WHEN THE IMAGES ARE LOADED ------ */

.center input[type="file"]{
	 width:600px;
}

.center #image_wrapper img{
	margin-bottom:8px;
	padding: 4px;
	border: 1px solid #DDD;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

.center #image{
	margin-bottom:10px;
	margin-right:10px;
	max-width:230px;
}

.center #image_wrapper span{
	clear:left;
	width:80px;
	padding-left:4px;
}

/*---------*/

.center img{
	display:block;
	float:left;
	margin-right:5px;
}

.center input{
	display:block;
	float:left;
	height:22px;
	padding:2px;
	padding-left:4px;
}

.center span{
	display:block;
	float:left;
	width:680px;
	padding-top:2px;
	padding-left:2px;
}

#availability{
	padding-top:6px;
	padding-left:10px;
	width:240px;
}

#availability img{
	height:18px;
	width:18px;
	border:none;
}

textarea{
	display:block;
	float:left;
	border:1px solid #E6E6E6;
}

#characters_left{
	padding-top:20px;
	padding-left:8px;
	font-weight:bold;
}

.center input.submit{
	padding: 5px 14px 6px;
	height:40px;
}

.center a.button{
	margin-top:5px;
	margin-left:10px;
}


