/* ---- OLD CREATE.CSS ----*/

/* -------- GENERAL ------- */

#main .container{
	width:530px;
}

#left-column{
	width:180px;
	padding-top: 15px;
}

#right-column{
	margin-bottom:-15px;
	padding-top:15px;
	padding-bottom:15px;
	width:500px;
	min-height:800px;
	border:1px solid #E1E1E1;
	border-top:none;
	background:url("/static/images/grid.png");
}

#right-column .content{
	padding:15px;
	width:470px;
	background:#F1F1F1;
	border-top:1px solid #E1E1E1;
	border-bottom:1px solid #E1E1E1;
}

#right-column h1{
	font-size:18px;
	line-height:23px;
	letter-spacing:0px;
}

.station{
	margin-bottom:10px;
	padding:10px;
	width:450px;
	background:white;
}

.station img{
	display:block;
	float:left;
}

p.name{
	padding:8px;
	width:275px;
	height:34px;
}

p.name span{
	height:34px;
}

img.loader{
	margin-top:16px;
	margin-right:5px;
	height:20px;
	width:20px;
}

.station .btn{
	float:right;
	margin-top:14px;
	width:70px;
	text-align:center;
}

div.title {
	padding-left:15px;
	padding-bottom:10px;
}

#manage-skip {
	text-align: right;
	padding: 15px;
	width: 470px;
	line-height: 30px;
}

#manage-skip a {
	float: right;
	padding: 7px;
	margin-left: 10px;
}
