@import url("create.css");

p.page-name {
	width: 275px;
}

#right-column{
	width: 500px;
}

#right-column .content{
	width: 470px;
}

.contribution {
	width: 450px;
}

#right-column h1{
	font-size: 18px;
	line-height: 23px;
	letter-spacing: 0px;
}

div.title {
	padding-left: 15px;
	padding-bottom: 5px;
}

#manage-skip {
	text-align: right;
	padding: 15px;
	width: 470px;
	line-height: 30px;
}

#manage-skip a {
	float: right;
	padding: 7px;
	margin-left: 10px;
}