@import url("root.css");

body{
	padding-bottom: 0px;
	min-height:800px;
}

#bottom-bar{
	display: none;
}

#social-block{
	display: none;
}

/* ----- CORRECTIONS ------ */

#media-monitoring{
	display:none;
}

#media-details{
	padding-top:10px;
	border-top:1px solid #E1E1E1;
}

/*------ BROADCASTS TAB ------*/

.item{
	cursor:pointer;
}

.item:hover{
	background-color:#F5F5F5;
}

.item.active{
	background-color:#E1E1E1;
}

.item.active:hover{
	background-color:#E1E1E1;
}

/*------ POPUP ON AIR ------*/

#popup-onair{
	width:500px;
}

#popup-onair h2{
	margin-bottom:16px;
}

#popup-onair div{
	float:left;
}

#popup-onair img.thumbnail{
	display:block;
	float:left;
	margin-left:24px;
	max-height:130px;
	max-width:96px;
}

#popup-onair h3{
	float:left;
	padding-left:16px;
	width:336px;
}

#popup-onair .item-picture{
	margin-left:16px;
}

#popup-onair .item-title{
	width:200px;
	margin-left:16px;
	height:58px;
}

#popup-onair .item-title span{
	height:58px;
}

#popup-onair .modal-footer{
	margin-top:16px;
	width:470px;
}