@import url("root.css");

/* ------- ALERT --------- */

span.round{
	display:none;
	float:right;
	margin-top:-4px;
	height:8px;
	width:8px;
	background:#c43c35;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: linear-gradient(top, #ee5f5b, #c43c35);
}

ul#tabs li a.alert{
	color:#c43c35;
}

/* ------- SEARCH -------- */

#search-header{
	margin:15px;
	margin-bottom:25px;
	width:248px;
	background:#FFFFFF;
}

input#search{
	position:absolute;
	top:276px;
	z-index:3;
	display:block;
	float:left;
	padding-right:32px;
	width:211px;
	background:url("/static/images/phonoblaster-sprits.png") no-repeat;
	background-color:white;
	background-position:217px -175px;
}

input#search:focus{
	background-position:217px -199px;
}

#search-overlay{
	display:none;
	position:fixed;
	z-index:1;
	top:0px;
	bottom:0px;
	right:0px;
	left:0px;
}

#search-tab{
	display:none;
	position:absolute;
	z-index:2;
	margin-top:27px;
	margin-left:0px;
	height:294px;
	width:294px;
	background:#F5F5F5;
	border:1px solid #E1E1E1;
	overflow-y:scroll;
}

#search-tab .tab-items{
	background-color:#F8F8F8;
}

/* ------ ITEM WRAPPER (SUGGESTIONS & FAVORITES) ------ */

.item-wrapper{
	margin-bottom:15px;
	padding:10px;
	background:#FFFFFF;
}

.item-wrapper-submitter{
	width:26px;
	height:26px;
	padding-right:10px;
	overflow:hidden;
}

.item-wrapper-submitter img{
	display:block;
	float:left;
	height:26px;
}

.item-wrapper-content{
	width:192px;
}

.item-wrapper-content p{
	width:100%;
	font-size:11px;
	line-height:15px;
	overflow:hidden;
}

.item-wrapper-content p a:hover{
	color:#7F7F7F;
}

.item-wrapper .item{
	margin-top:10px;
	margin-bottom:0px;
	padding:0px;
}

.item-wrapper .item-title{
	width:108px;
}

.item-wrapper .item-subtitle{
	width:112px;
}

/* ------ POPUP RECOMMENDATION ------ */

#popup-recommendations{
	width:800px;
}

#popup-recommendations h2{
	width:760px;
}

#popup-recommendations div{
	float:left;
}

#recommendations-zone{
	height:275px;
	overflow-y:auto;
}

#popup-recommendations .item{
	margin-right:15px;
	width:226px;
}

#popup-recommendations .item-title{
	width:142px;
}

#popup-recommendations .item-subtitle{
	width:146px;
}

#popup-recommendations .item-process{
	float:right;
}

#popup-recommendations .modal-footer{
	width:770px;
}

/* ------- POPUP SUGGESTION ------- */

#popup-suggestion{
	width:394px;
}

#popup-suggestion h2{
	width:354px;
}

#popup-suggestion .item, #popup-suggestion textarea, #popup-suggestion h3{
	margin-top:15px;
	margin-left:24px;
}

#popup-suggestion h3{
	clear:left;
	padding:0px;
}

#popup-suggestion textarea{
	width:347px;
}

#popup-suggestion .warning{
	display:none;
	float:right;
	padding:7px;
	text-align:right;
	color:#C43C35;
}

#popup-suggestion .modal-footer{
	width:364px;
	margin-top:15px;
}

/* ------- POPUP SHARE -------*/

#popup-share{
	width:440px;
}

#popup-share form{
	margin-top:16px;
	margin-bottom:0px;
	float:left;
}

#popup-share img.thumbnail{
	display:block;
	float:left;
	margin-left:24px;
	margin-right:8px;
	height:37px;
}

#popup-share textarea{
	display:block;
	width:324px;
	min-height:37px;
}

#popup-share img.station{
	display:block;
	float:left;
	height:50px;
	margin:8px;
	margin-left:88px;
	margin-bottom:24px;
}

#popup-share .facebook-link{
	float:left;
	width:268px;
	margin-top:8px;
	font-family:'Lucida Grande';
	font-size:11px;
}

#popup-share .facebook-link span{
	display:block;
	padding:4px;
}

#popup-share .facebook-link span.link{
	color:#3B5998;
	font-weight:bold;
}

#popup-share .facebook-link span.description{
	color: #999;
}

#popup-share .modal-footer{
	float:left;
	width:410px;
}

/*--------- OFF AIR ----------*/

#popup-offair{
	width:500px;
}

#popup-offair h2{
	margin-bottom:16px;
}

#popup-offair div{
	float:left;
}

#popup-offair img.thumbnail{
	display:block;
	float:left;
	margin-left:24px;
	max-height:130px;
	max-width:96px;
}

#popup-offair h3{
	float:left;
	width:336px;
}

#popup-offair #broadcasts{
	margin-left:16px;
	width:336px;
}

#popup-offair .item-picture{
	margin-bottom:10px;
}

#popup-offair .modal-footer{
	margin-top:16px;
	width:470px;
}
