@import url("../common.css");

/* ------ RIGHT COLUMN ------ */

#right-column{
	min-height:923px;
}

/* ------- AIR STATUS ------- */

#top-right-status{
	/*float:right;*/
	margin-top:18px;
	margin-bottom:18px;
	margin-left:15px;
	padding:10px;
	text-transform:uppercase;
	font-family:Futura;
	letter-spacing:1px;	
	font-size:13px;
}

#top-right-status.on{
	color:white;
	background:#D42222;
	border:1px solid #DB7171;
}

#top-right-status.off{
	color:#636363;
	background:#C4C4C4;
	border:1px solid #E1E1E1;
}

#top-right-status.on a, #top-right-status.on a:hover{
	color:white;
}

#top-right-status.off a, #top-right-status.off a:hover{
	color:#636363;
}

/* ----------- SESSIONS ------------*/

#social-block-sessions{
	margin-bottom:20px;
	padding-top: 4px;
}

#social-block-session-pictures{
	/*clear:left;*/
	width:248px;
	height:70px;
	margin-bottom:10px;
	overflow:hidden;
}

a.session-picture{
	display:block;
	float:left;
	margin-right:3px;
	margin-bottom:3px;
	padding:2px;
	background:#FFFFFF;
}

a.session-picture img{
	display:block;
	float:left;
	height:28px;
	width:28px;
}

a#social-block-share{
	float:right;
	margin-bottom: 15px;
}