@import url("left-column.css");
@import url("contributors.css");
@import url("tracks.css");
@import url("twipsy.css");

/* --------------------- STATION ------------------------ */

/*-------- MIDDLE-COLUMN -------- */

#middle-column{
	padding-left:32px;
	padding-top:6px;
	width:520px;
}

#middle-column h2{
	width:355px;
	margin-bottom:7px;
	font-size:16px;
	font-weight:bold;
	font-style:italic;
	color:#373535;
}

#sharing{
	padding-top:2px;
	width:150px;
}

#sharing iframe.twitter-share-button{
	display:block;
	float:left;
}

/*--------- LIVE VIDEO ------------- */

#live-video{
	width:500px;
}

#youtube-player{
	width:500px;
	height:370px;
}

#youtube-player .info{
	float:none;
	margin:auto;
	margin-top:140px;
	width:100px;
}

#youtube-player .info img{
	display:block;
	float:none;
	margin:auto;
	width:30px;
}

#live-video object{
	display:block;
	float:left;
	width:500px;
	height:370px;
	border: 1px solid #ddd;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

#live-video object embed{
	width:500px;
	height:370px;
}

/*------- PROGRESSION BAR -------*/

#progression_bar{
	width:499px;
	height:8px;
	padding-left:1px;
}

#filler{
	height:8px;
	background:#A6A6A6;
}

/*--------- LIVE CHAT ------------- */

#live-chat{
	width:500px;
	height:144px;
	border: 1px solid #ddd;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

#conversation{
	width:100%;
	height:113px;
	overflow:auto;
	background:white;
	border-bottom: 1px solid #ddd;
}

#conversation .message{
	padding-top:2px;
	padding-bottom:2px;
	padding-left:1%;
	padding-right:1%;
	width:98%;
	font-size:11px;
}

#conversation .message:nth-child(odd){
	background:#F6F6F6;	
}

#conversation div.author{
	width:15%;
	font-size:11px;
	font-weight:bold;
}

#conversation div.content{
	width:78%;
	font-size:11px;
}

#conversation div.content a{
	text-decoration:underline;
}

#conversation div.date{
	width:6%;
	font-size:10px;
	color:#E3E3E3;
}

#typebox{
	width:98%;
	padding-top:5px;
	padding-left:1%;
	padding-right:1%;
	height:24px;
	border-bottom: 1px solid #ddd;
}

#current-user-chat{
	height:25px;
	width:6%;
}

#current-user-chat img{
	height:20px;
}

#typebox form{
	display:block;
	float:left;
	width:94%;
}

#typebox input{
	display:block;
	float:left;
}

#typebox input#chat_content{
	padding-left:1%;
	height:16px;
	width:84%;
	color:#ddd;
	font-style:italic;
}

#typebox input#chat_content:focus{
	color:#333;
	font-style:normal;
}

#typebox input.submit{
	float:right;
	margin:0px;
	padding-top:1px;
	width:13%;
	height:20px;
	font-size:11px;
}

#no-current-user-chat{
	padding-left:35%;
}


/*--------- RIGHT COLUMN -------- */

#right-column{
	float:right;
	text-align:left;
	padding-top:6px;
	width:310px;
}

#right-column ul{
	float:left;
	width:100%;
	height:32px;
	margin:0px;
	padding:0px;
	list-style-type:none;
	border-bottom:1px solid #B3B3B3;
}

#right-column li{
	display:block;
	float:left;
	width:107px;
}

#right-column li a{
	display:block;
	float:left;
	padding:6px;
	padding-top:10px;
	color:#B3B3B3;
	height:15px;
	text-align:center;
	font-size:13px;
	text-decoration:none;
	border-radius:6px 6px 0px 0px;
	border-left:1px solid #F6F6F6;
	border-top:1px solid #F6F6F6;
	border-right:1px solid #F6F6F6;
}

#right-column li a.current{
	height:16px;
	color:#808080;
	border-left:1px solid #B3B3B3;
	border-top:1px solid #B3B3B3;
	border-right:1px solid #B3B3B3;
	background:#F6F6F6;
}

#right-column li a:hover{
	color:#808080;
}

#tab_content_wrap{
	width:100%;
}

.tab_content{
	display:none;
	padding-top:10px;
	padding-left:1%;
	padding-right:3%;
	padding-bottom:20px;
	width:94%;
}

/*--------- TRACKLIST ----------- */

#tracks{
	width:100%;
}

#tracks_tab .track{
	padding-top:10px;
	padding-bottom:10px;
	width:100%;
}

#tracks_tab .track img{
	margin-right:10px;
	width:110px;
	height:82px;
}

#tracks_tab .track .title{
	padding-top:2px;
	width:160px;
	height:60px;
	overflow:hidden;
}

#tracks_tab .track .title span{
	display:table-cell;
	height:60px;
	vertical-align:middle;
}

#tracks_tab .track .subtitle{
	width:55%;
}

#tracks_tab .track .duration{
	padding-top:5px;
	font-size:11px;
	color:#373535;
}

#tracks_tab .track div.submitter{
	margin-left:50px;
	padding-top:5px;
	height:20px;
	font-size:11px;
	text-align:right;
	color:#B3B3B3;
}

#tracks_tab .track a.submitter{
	display:block;
	float:right;
	margin-left:10px;
	height:25px;
}

#tracks_tab .track a.submitter img{
	display:block;
	float:right;
	width:22px;
	height:22px;
}

/* -------- SEARCH TRACKS -------- */

#search_tab #search{
	width:100%;
	padding-bottom:10px;
}

/* ---- WHEN USER NOT ALLOWED TO POST -----*/

#search_tab #not_contributor{
	padding-left:5px;
}

#search_tab h3{
	margin-top:5px;
	margin-bottom:5px;
	font-size:16px;
}

#search_tab #your_station a.img{
	margin-right:10px;
	height:68px;
}

#search_tab #your_station a.img img{
	height:68px;
}

#search_tab #your_station h4{
	margin-top:12px;
	margin-bottom:4px;
	width: 130px;
}

#search_tab #your_station a.button{
	margin-top:4px;
}

/* ------- WHEN USER ALLOWED TO POST ------*/

#search_tab #search form{
	width:100%;
}

input#search_content{
	display:block;
	float:left;
	padding-left:2%;
	height:20px;
	width:65%;
}

input#search_button{
	margin-left:8px;
	padding-top:4px;
	width:25%;
	height:25px;
	font-size: 11px;	
}

#search_tab #search_results{
	width:100%;
}

#search_tab .info{
	display:none;
}

#search_tab .search_result{
	padding-top:8px;
	padding-bottom:8px;
	width:100%;
	height:60px;
}

#search_tab .search_result:first-child{
	padding-top:0px;
}

#search_tab img{
	display:block;
	float:left;
	height:50px;
	width:68px;
}

#search_tab .title{
	padding-left:2%;
	padding-right:2%;
	width:46%;
	height:60px;
}

#search_tab .title span{
	display:table-cell;
	vertical-align:middle;
	height:60px;
	font-size:12px;
}

#search_tab a.add_track{
	display:block;
	float:left;
	width:19%;
	padding:4px;
	font-size:11px;
	margin-top:19px;
	text-align:center;
}

#search_tab img.loader{
	display:block;
	float:left;
	margin-left:9%;
	margin-top:19px;
	height:10px;
	width:10px;
	border:none;
}

/*------- LIBRARY------------ */

#library{
	width:100%;
}

#library #header_buttons{
	width:100%;
	margin-bottom:10px;
}

#library #header_buttons a{
	height:11px;
	font-size:11px;
}

#library #header_buttons img.loader{
	margin-top:8px;
	height:10px;
	width:10px;
}

#library div.fill_buffer{
	width:110px;
}

#library div.fill_buffer a{
	margin-right:2px;
	text-align:center;
}

#library div.fill_buffer img.loader{
	margin-left:45px;
}

#library div.shuffle_buffer img.loader{
	margin-left:28px;
}

#library p{
	width:100%;
}

#library div.loader{
	width:100%;
}

#library div.loader img.loader{
	width:20px;
	margin-left:45%;
	border:none;
}

#library .info{
	display:none;
}

#library .track{
	padding-top:10px;
	padding-bottom:10px;
	width:100%;
}

#library .track img{
	margin-right:10px;
	width:110px;
	height:82px;
}

#library .track .title{
	padding-top:2px;
	width:160px;
	height:60px;
	overflow:hidden;
}

#library .track .title span{
	display:table-cell;
	height:60px;
	vertical-align:middle;
}

#library .track .subtitle{
	width:55%;
}

#library .track .duration{
	padding-top:5px;
	font-size:11px;
	color:#373535;
}

#library .track a.button{
	display:block;
	float:left;
	margin-left:44%;
	width:35%;
	padding:4px;
	font-size:11px;
	text-align:center;
}

#library .track img.loader{
	display:block;
	float:left;
	margin-top:none;
	margin-left:60%;
	height:10px;
	width:10px;
	border:none;
}

#library a#fetch_more_tracks{
	display: block;
	float: left;
	margin-bottom: 20px;
	margin-right: 3%;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 3%;
	padding-right: 3%;
	width: 90%;
	text-align: center;
}


/*-------- SECONDARY PAGES -------- */

#middle-column h3{
	padding-top:8px;
	padding-left:2%;
	width:100%;
	font-size:16px;
	color:#373535;
}

