@import url("root.css");

/* -------- LEFT COLUMN ----------- */

#presence-rows{
	max-height:160px;
	overflow:hidden;
}

#left-column .presence{
	padding-top:0px;
	border:none;
}

#left-column .presence a{
	display:block;
	float:left;
	font-size:11px;
	height:33px;
	color:#999;
}

#left-column .presence a img{
	display:block;
	float:left;
	height:28px;
	width:28px;
	margin-top:4px;
	margin-left:4px;
	margin-right:11px;
}

#left-column .presence .title{
	margin-top:8px;
	width:81px;
	height:20px;
	overflow:hidden;
}

#bring-people .btn{
	width:94px;
	text-align:center;
}

/*-------- PRESENCE POPUP --------*/

#presence-popup h2{
	padding:8px;
	text-align:center;
	border-bottom:1px solid #DDD;
}

#presence-popup .row{
	margin:0px;
}

#presence-popup .presence{
	padding:8px;
}

#presence-popup .presence a{
	color:#333;
}

#presence-popup .presence a:hover{
	color:#0084B4;
	text-decoration:none;
}

#presence-popup .presence img{
	float:left;
	margin-right:8px;
	height:50px;
	width:50px;
}

#presence-popup .title{
	float:left;
	height:52px;
}

#presence-popup .title span{
	height:52px;
}

#unauthenticated-presences{
	margin-top:15px;
	color:#999;
}

#unauthenticated-presences strong{
	display:block;
	float:left;
	margin-right:8px;
	width:50px;
	font-size:18px;
	text-align:center;
	color:#333;
}

/* --------- ALERT ------------*/

span.round{
	display: none;
	float: right;
	margin-top:-4px;
	height: 8px;
	width: 8px;
	background:#c43c35;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: linear-gradient(top, #ee5f5b, #c43c35);
}

/* ------ RECOMMANDATION ------ */

#popup-recommandation{
	display:none;
	float:left;
	width:800px;
	height:420px;
}

#popup-recommandation h2{
	padding:16px;
	padding-left:24px;
	text-align:left;
	border-bottom:1px solid #DDD;
}

#popup-recommandation h3{
	padding: 16px;
	padding-left: 24px;
	font-weight: normal;
	font-size: 13px;
	color: grey;
}

#popup-recommandation img.loader{
	margin-left:370px;
	margin-top:120px;	
}

#popup-recommandation div{
	float:left;
}

#popup-recommandation #recommandations-zone{
	height:258px;
	overflow-y:auto;
}

#popup-recommandation .item{
	width:245px;
	border-bottom:none;
}

#popup-recommandation .item .title{
	width:143px;
}

#popup-recommandation .item .subtitle{
	width:143px;
}

#popup-recommandation .process-actions{
	float:right;
}

#popup-recommandation .modal-footer{
	width:770px;
}

/* --------- SEARCH ----------- */

#queue-header span#search-icon{
	width:18px;
}

#search-overlay{
	display:none;
	position:fixed;
	z-index:2;
	top:0px;
	bottom:0px;
	right:0px;
	left:0px;
}

#search-tab{
	display:none;
	position:fixed;
	z-index:3;
	margin-top:27px;
	margin-left:-24px;
	height:254px;
	width:300px;
	background:white;
	border:1px solid #DDD;
	overflow-y:scroll;
}

#search-tab .tab-items{
	margin-top:0px;
	width:285px;
	border:none;
}

#search-tab .item .square{
	width:80px;	
}

#search-tab .item .square img{
	left:-20px;
}

/*--------- SUGGESTION ---------*/

#popup-suggestion{
	display:none;
	float:left;
	width:440px;
}

#popup-suggestion .row{
	margin:0px;
	margin-top:8px;
	margin-bottom:8px;
}

#popup-suggestion .left{
	float:left;
	margin-right:8px;
	padding:8px;
	width:50px;
	text-align:right;
}

#popup-suggestion .right{
	float:left;
	padding:8px;
	width:350px;
}

#popup-suggestion .title{
	float:left;
	padding-left:16px;
	height:68px;
	width:212px;
}

#popup-suggestion .title span{
	height:68px;
}

#popup-suggestion form{
	margin-bottom:0px;
}

#popup-suggestion textarea{
	width:334px;
}

#popup-suggestion .warning{
	display:none;
	float:right;
	padding:7px;
	text-align:right;
	color:#C43C35;
}

/* -------- WRAPPER ITEM (SUGGESTIONS & FAVORITES)-------- */

.wrapper-item{
	padding:8px;
	border-bottom:1px solid #DDD;
}

.wrapper-item img.submitter{
	display:block;
	float:left;
	margin-right:8px;
	height:26px;
	width:26px;
}

.wrapper-item .content{
	width:244px;
	margin-bottom:8px;	
}

.wrapper-item .content p{
	width:100%;
	font-size:11px;
	line-height:15px;
	overflow:hidden;
}

.wrapper-item .content p a{
	font-weight:bold;
	color:#0084B4;
}

.wrapper-item .content p a:hover{
	color:#0084B4;
}

#right-column .wrapper-item .item{
	padding:0px;
	border:none;
	margin-left:34px;
}

#right-column .wrapper-item .item .square{
	width:80px;
}

#right-column .wrapper-item .item .square img{
	left:-15px;
}

#right-column .wrapper-item .item .title{
	width:152px;
}

#right-column .wrapper-item .item .subtitle{
	width:156px;
}

/* ------- BRING PEOPLE POPUP -------*/

#popup-bring-people{
	display:none;
	float:left;
	width:440px;
}

#popup-bring-people h2{
	padding:16px;
	padding-left:24px;
	text-align:left;
	border-bottom:1px solid #DDD;
}

#popup-bring-people form{
	margin-top:16px;
	margin-bottom:0px;
	float:left;
}

#popup-bring-people img.thumbnail{
	display:block;
	float:left;
	margin-left:24px;
	margin-right:8px;
	height:37px;
}

#popup-bring-people textarea{
	display:block;
	width:324px;
	min-height:37px;
}

#popup-bring-people img.station{
	display:block;
	float:left;
	height:50px;
	margin:8px;
	margin-left:88px;
	margin-bottom:24px;
}

#popup-bring-people .facebook-link{
	float:left;
	width:268px;
	margin-top:8px;
	font-family:'Lucida Grande';
	font-size:11px;
}

#popup-bring-people .facebook-link span{
	display:block;
	padding:4px;
}

#popup-bring-people .facebook-link span.link{
	color:#3B5998;
	font-weight:bold;
}

#popup-bring-people .facebook-link span.description{
	color: #999;
}

#popup-bring-people .modal-footer{
	float:left;
	width:410px;
}