@import url("root.css");

/* -------- LEFT COLUMN ----------- */

#presence-rows{
	max-height:160px;
	overflow:hidden;
}

#left-column .presence{
	padding-top:0px;
	border:none;
}


#left-column .presence a{
	display:block;
	float:left;
	font-size:11px;
	height:33px;
	color:#999;
}


#left-column .presence a img{
	display:block;
	float:left;
	height:28px;
	width:28px;
	margin-top:4px;
	margin-left:4px;
	margin-right:11px;
}

#left-column .presence .title{
	margin-top:8px;
	width:81px;
	height:20px;
	overflow:hidden;
}

/*-------- PRESENCE POPUP --------*/

#presence-popup h2{
	padding:8px;
	text-align:center;
	border-bottom:1px solid #DDD;
}

#presence-popup .row{
	margin:0px;
}

#presence-popup .presence{
	padding:8px;
}

#presence-popup .presence a{
	color:#333;
}

#presence-popup .presence a:hover{
	color:#0084B4;
	text-decoration:none;
}

#presence-popup .presence img{
	float:left;
	margin-right:8px;
	height:50px;
	width:50px;
}

#presence-popup .title{
	float:left;
	height:52px;
}

#presence-popup .title span{
	height:52px;
}

#unauthenticated-presences{
	margin-top:15px;
	color:#999;
}

#unauthenticated-presences strong{
	display:block;
	float:left;
	margin-right:8px;
	width:50px;
	font-size:18px;
	text-align:center;
	color:#333;
}


/*-------- LIVE COMMENTS ---------*/

#live-comments{
	width:508px;
	border:1px solid #DDD;
	border-top:none;	
}

#comment-box{
	width:500px;
	padding:4px;
	height:28px;
	border-bottom: 1px solid #ddd;
}

#comment-box img{
	display:block;
	float:left;
	margin-right:4px;
	height:26px;
	width:26px;
	border: 1px solid #ddd;
}

#comment-box form{
	display:block;
	float:left;
	width:468px;
	margin:0px;
}

input#comment{
	display:block;
	float:left;
	width:386px;
	margin-right:4px;
}

#comments-zone{
	padding-bottom:8px;
	min-height:200px;
	width:100%;
	background:white;
}

.comment{
	margin-top:-4px;
	padding:4px;
	padding-bottom:0px;
	width:502px;	
}

.comment:first-child{
	margin-top:0px;
}

.comment img.user, .comment img.station{
	display:block;
	float:left;
	margin-right:8px;
	height:25px;
	border: 1px solid #ddd;
}

.comment .content{
	min-height:27px;
	width:462px;
}

.comment .content p{
	width:100%;
	line-height:15px;
	font-size:11px;
	overflow:hidden;
}

.comment .content p a{
	font-weight:bold;
	color:#0084B4;
}

.comment .content p a:hover{
	color:#0084B4;
}

.comment .content span.clip{
	margin-top:4px;
	margin-bottom:4px;
	margin-right:8px;
	height:52px;
	width:96px;
}

.comment .content span.clip img{
	height:72px;
}

.comment .title{
	height:52px;
	width:358px;
	font-size:11px;
}

.comment .title span{
	height:52px;
}

.comment .border{
	margin-right:8px;
	width:456px;
	height:4px;
	border-bottom:1px solid #CCC;
}

.comment .time{
	margin-top:-1px;
	color:#CCC;
	font-size:11px;
	line-height: 10px;
}

/*---------- SEARCH -----------*/

#queue-header span#search-icon{
	width:18px;
}

#search-overlay{
	display:none;
	position:fixed;
	z-index:2;
	top:0px;
	bottom:0px;
	right:0px;
	left:0px;
}

#search-tab{
	display:none;
	position:fixed;
	z-index:3;
	margin-top:27px;
	margin-left:-24px;
	height:254px;
	width:300px;
	background:white;
	border:1px solid #DDD;
	overflow-y:scroll;
}

#search-tab .tab-items{
	margin-top:0px;
	width:285px;
	border:none;
}

/*--------- SUGGESTION ---------*/

#popup-suggestion{
	display:none;
	float:left;
	width:440px;
}

#popup-suggestion .row{
	margin:0px;
	margin-top:8px;
	margin-bottom:8px;
}

#popup-suggestion .left{
	float:left;
	margin-right:8px;
	padding:8px;
	width:50px;
	text-align:right;
}

#popup-suggestion .right{
	float:left;
	padding:8px;
	width:350px;
}

#popup-suggestion .title{
	float:left;
	padding-left:16px;
	height:68px;
	width:212px;
}

#popup-suggestion .title span{
	height:68px;
}

#popup-suggestion form{
	margin-bottom:0px;
}

#popup-suggestion textarea{
	width:334px;
}

#popup-suggestion .warning{
	display:none;
	float:right;
	padding:7px;
	text-align:right;
	color:#C43C35;
}

/* -------- WRAPPER ITEM (SUGGESTIONS & FAVORITES)-------- */

.wrapper-item{
	padding:8px;
	border-bottom:1px solid #DDD;
}

.wrapper-item img.submitter{
	display:block;
	float:left;
	margin-right:8px;
	height:26px;
	width:26px;
}

.wrapper-item .content{
	width:244px;
	margin-bottom:8px;	
}

.wrapper-item .content p{
	width:100%;
	font-size:11px;
	line-height:15px;
	overflow:hidden;
}

.wrapper-item .content p a{
	font-weight:bold;
	color:#0084B4;
}

.wrapper-item .content p a:hover{
	color:#0084B4;
}

#right-column .wrapper-item .item{
	padding:0px;
	border:none;
	margin-left:34px;
}

#right-column .wrapper-item .item .title{
	width:152px;
}

#right-column .wrapper-item .item .subtitle{
	width:156px;
}

/* ---------- LIBRARY ----------- */

#right-column #library-tab .item .square{
	width:90px;
}

#right-column #library-tab .item .square img {
	left:-15px;
}