/* ----------- INTERFACE TO BROWSE TRACKS OF A STATION ------------ */

/* ----- MIDDLE COLUMN ----- */

#station_track{
	padding-top:20px;
	width:100%;
}

#station_track object{
	display:block;
	float:left;
	width:500px;
	height:370px;
}

#station_track object embed{
	width:500px;
	height:370px;
}

/* ------ RIGHT COLUMN ------ */

#tracks_history{
	padding-left:3%;
	padding-bottom:10px;
}

#tracks_history .info{
	display:none;
}

#tracks_history a.play_old_track{
	display:block;
	float:left;
	margin-left:34%;
	width:17%;
	padding:4px;
	font-size:11px;
	margin-top:19px;
	background:#E3E3E3;
	border-radius:0px 8px 0px 0px;
	border:1px solid #B3B3B3;
}

a#fetch_old_tracks{
	display:block;
	float:left;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:3%;
	padding-right:3%;
	width:94%;
	text-align:center;
	background:#E3E3E3;
	border-radius:0px 8px 0px 8px;
}

#tracks_history img.loader{
	height:20px;
	margin-left:45%;
	border:none;
}
