{% extends "base.html" %}

{% block style %}
	<link type="text/css" rel="stylesheet" href="{{site_tag_url}}/static/css/company/company.css" />
{% endblock %}

{% block main %}
	<div id="company">
		<img src="{{site_tag_url}}/static/images/company/faq.png">
		<h1>Help</h1>
	
		<h3>When I click on “create” to create a station for my Facebook page, it says “Error...”, why?</h3>
		<p>There must be some problems with the Facebook permissions. To resolve that, please log out of Phonoblaster and log into Facebook. Then go to Account Settings > Apps. In the list remove the “Phonoblaster” app. Then come back to phonoblaster.com and sign in. Make sure you give all permissions to Phonoblaster. Click on create a new station in the home page once you’re authenticated. It should work now.</p>
	
		<h3>Every time I sign in, the website seems to sign me out afterwards, why?</h3>
		<p>Some addons in your browser are probably blocking scripts used by Facebook for authentication. Please remove them. Then restart your browser. It should work now.</p>
	
		<h1>General questions</h1>
	
		<h2>Workflow</h2>
	
		<h3>How do I create a station?</h3>
		<p>Log into Phonoblaster with Facebook. To create a station, you must be an admin of a Facebook page. Once you’re logged in, go to www.phonoblaster.com/station/create. Your existing  Facebook pages will be displayed. Click on “create now” to install Phonoblaster. You’ll be asked to choose a URL for your Phonoblaster station. Click on “go” and your station is created.</p>
	
		<h3>How do I broadcast tracks in my station?</h3>
		<p>To broadcast tracks in your station, you must add them in your station queue. Tracks are broadcast progressively, in the order of the queue.<br/>
			The easiest way to add a new track in your queue is to make a search. On the right side of your station, there is a search input box. Start typing and you’ll get results from Youtube. Once you’ve found the right track, click on “queue”. This track is added to the queue and broadcast as soon as previous tracks have already been broadcast.</p>
	
		<h2>UI</h2>
	
		<h3>What is the queue tab made for?</h3>
		<p>The queue tab displays all the tracks that are going to be broadcast.</p>
	
		<h3>What is the suggestions tab made for?</h3>
		<p>The suggestions tab displays all the tracks suggested by the listeners to the broadcaster. If it fits into his set, he might broadcast them.</p>
	
		<h3>What is the tracks tab made for?</h3>
		<p>The tracks tab displays all the tracks that have been broadcast in the current station. This tab is only displayed for station admins.</p>
	
		<h3>What is the favorites tab made for?</h3>
		<p>The favorites tab displayed all the tracks the current user has favorited on Phonoblaster. This tab is only displayed for station admins.</p>
	
		<h3>How can I see all the tracks I’ve favorited?</h3>
		<p>If you click on your profile link in the right side of the topbar, you’ll be able to go through all the tracks you’ve previously broadcast.</p>
	
		<h3>How can I see who is listening?</h3>
		<p>On the upper right corner of your station, you see the total number of listeners. Below this number, if users are logged in, you can see their face and their name.</p>
	
		<h3>Why is there a difference between the number of listeners and the current number of people I see listening to my station?</h3>
		<p>This difference is because some listeners don’t log in. They are tuned into your station but you can’t see who they are as they’re not authenticated.</p>
		
		<h2>Product</h2>
	
		<h3>Why can’t I skip the current track?</h3>
		<p>Because that would be a really bad thing for your listeners. We give you the ability to broadcasting your favorite music to a broader audience than yourself. More possibilities. More duties :-)</p>
	
		<h3>Can I have more than one station?</h3>
		<p>Yes. More precisely: you can have as many stations as Facebook pages you’re admin of.</p>
	
		<h3>Why should I have a Facebook page to broadcast tracks on Phonoblaster?</h3>
		<p>Phonoblaster is for broadcasters a tool to engage with their community. Usually when you’ve an existing community or plan to build one, the thing you’re going to use the most is a Facebook page. That’s why we’ve decided that any Phonoblaster station has to be build on top of an existing Facebook page. We’re the music layer/ the radio layer on top of Facebook pages.</p>
	
		<h3>Can I broadcast tracks from Soundcloud?</h3>
		<p>No, not yet. But we’re going to implement this very soon.</p>
	
		<h3>Can I upload my tracks on Phonoblaster?</h3>
		<p>No. You cannot upload tracks to Phonoblaster.</p>
	</div>
{% endblock %}