{% extends "base.html" %}

{% block style %}
	<link type="text/css" rel="stylesheet" href="/{{tag}}/static/css/company/company.css" />
{% endblock %}

{% block main %}
	<div id="press">
		<h1>Phonoblaster</h1>
		<h2>"Phonoblaster permet à tout artiste, label ou blogueur de diffuser à ses fans la musique qu'il aime!"</h2>
		<div class="stroke black"></div>
		<div class="tutorial">
			<img src="/{{tag}}/static/images/press/1.png">
			<span>Créer sa station.</span>
		</div>
		<div class="tutorial">
			<img src="/{{tag}}/static/images/press/2.png">
			<span>Jouer ses morceaux préférés.</span>
		</div>
		<div class="tutorial">
			<img src="/{{tag}}/static/images/press/3.png">
			<span>Et diffuser dans le monde entier!</span>
		</div>
		<div class="block" id="press-computer-page">
			<div class="half left"></div>
			<div class="half right">
				<p>
					Synchronisée avec leur page Facebook, notre application permet aux artistes, djs, blogueurs de dynamiser leur communauté tout en augmentant le trafic sur leur page.
				</p>
			</div>
		</div>
		<div class="block" id="press-artist-fans">
			<div class="half left">
				<p>
					Par ailleurs, elle permet aussi aux fans d’intéragir en temps réel avec leurs artistes favoris: non seulement ils découvrent de nouveaux morceaux, les influences de leurs djs préférés mais peuvent également chatter et même suggérer en plein "live set" des morceaux à ces derniers.
				</p>
			</div>
			<div class="half right"></div>
		</div>
		<div class="block" id="press-ticker">
			<div class="half left"></div>
			<div class="half right">
				<p>
					L’expérience est d’autant plus sociale que les amis des fans sont rapidement au courant d’un "set" via l’activité que Phonoblaster publie sur Facebook. 
				</p>
			</div>
		</div>
		<div class="block" id="press-apis">
			<div class="half left">
				<p>
					Actuellement, la musique diffusée sur Phonoblaster provient intégralement de Youtube. Dans quelques semaines, nous ajouterons de nouveaux services de musique tels que Soundcloud.
				</p>
			</div>
			<div class="half right"></div>
		</div>
		<div class="block" id="press-like">
			<div class="half left"></div>
			<div class="half right">
				<p>
					A l’origine de ce projet, la volonté de généraliser la recommandation musicale à partir des personnes que l’on “aime” plutôt que celles avec qui on est "ami". C’est pourquoi nous avons décidé de construire ce service sur les "Pages" Facebook.
				</p>
			</div>
		</div>
		<div class="block" id="press-stations">
			<div class="half left">
				<p>
					Lancé très récemment, Phonoblaster a déjà attiré des centaines d’artistes, blogueurs, djs et des milliers d’auditeurs. Un peu partout sur la planète, ces influenceurs organisent régulièrement via Phonoblaster des émissions de radio "sociales" pour partager leurs dernières découvertes et échanger avec leur communauté.
				</p>
			</div>
			<div class="half right"></div>
		</div>
		<div class="block" id="press-paris">
			<div class="half left"></div>
			<div class="half right">
				<p>
					Basée à Paris, Phonoblaster est actuellement en contact avec des Business Angels pour assurer le développement de son activité.
				</p>
			</div>
		</div>
	</div>
{% endblock %}