{% extends "base.html" %}

{% block script %}
	<script type="text/javascript" src="/js/add.js"></script>
{% endblock %}

{% block body %}
	<div id="search">
		<form method="post" action="">
			<input type="text" name="search_content" id="search_content"/>
			<input type="submit" value="Search" id="search_button"/>
		</form>
		<a href="/">Back to the tracklist</a>
	</div>

	<div id="results">
		<h2>Search Results</h2>
		<h4></h4>
		<div id="content">
			No search yet.
		</div>
	</div>
{% endblock %}