<!DOCTYPE HTML>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<!-- Page Meta Tags -->
		{% block meta %}
	    <title>Phonoblaster</title>
		<meta name="description" content="Broadcast your music! Create your station, play your favorite music and let the world listen to it. A social music revolution.">
		{% endblock %}
		<!-- Facebook Open Graph Tags -->
		{% block facebook %}
			{% include "facebook.html" %}
		{% endblock %}
		<!-- Standard stylesheet -->
		<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
		<link type="text/css" rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">
		<link type="text/css" rel="stylesheet" href="/static/css/base.css">
		<!-- Additional Stylesheets -->
		{% block style %}
		{% endblock %}
	</head>
	<body>
		{% block header %}
			{% include "header.html" %}
		{% endblock %}
		<div id="main">
			<div class="container">
			{% block main %}
			{% endblock %}
			</div>
		</div>
		{% block footer %}
			{% include "footer.html" %}
		{% endblock %}
		<!-- jQuery -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
		<!-- oAuth -->
		<script type="text/javascript" src="/static/js/oauth.js"></script>
		{% block script %}
		{% endblock %}
		<!-- Twitter -->
		<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
		<!-- Facebook -->
		<div id="fb-root"></div>
		<script>
			(function(d, s, id){
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) {return;}
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
		<!-- Google Analytics -->
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', '{{ google_analytics_id }}']);
			_gaq.push(['_trackPageview']);
			
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		<!-- Uservoice -->
		<script type="text/javascript">
			var uvOptions = {};
			(function() {var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
				uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/Q8AtdcldBGNsnq1dJ62BHw.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
			})();
		</script>
  	</body>
</html>