<!DOCTYPE HTML>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<!-- Page Meta Tags -->
		{% block meta %}
	    <title>Phonoblaster</title>
		<meta name="description" content="Broadcast your music! Create your station, play your favorite music and let the world listen to it. A social music revolution.">
		{% endblock %}
		<!-- Facebook Open Graph Tags -->
		{% block facebook %}
			{% include "facebook.html" %}
		{% endblock %}
		<!-- Standard stylesheet -->
		<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
		<link type="text/css" rel="stylesheet" href="/static/css/base.css" />
		<!-- Additional Stylesheets -->
		{% block style %}
		{% endblock %}
	</head>
	<body>
		{% block header %}
			{% if current_user %}
				<p>You're logged in with this twitter_id: {{ id }}</p>
				<p><a href="#" class="logout">Sign out</a></p>
			{% else %}
		    	<p><a href="#" class="login">
					<img alt="Sign in with Twitter" src="https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png"/>
				</a></p>
			{% endif %}
		{% endblock %}
		{% block main %}
			
		{% endblock %}
		<!-- jQuery -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
		<!-- oAuth -->
		<script type="text/javascript" src="/static/js/oauth.js"></script>
		{% block script %}
		{% endblock %}
  	</body>
</html>