{% extends "base.html" %}

{% block main %}
<br/>
<p>Buffer :</p>
<br/>
<p id="buffer"></p>
<br/>
<br/>
<p id="duration">Buffer duration : </p>
<br/>
<br/>
<p id="timestamp">Timestamp : </p>
<br/>
<br/>
<p id="now">Now Playing : </p>
<br/>
<br/>
<p id="add" class="btn">Add Tracks to buffer</p>
<br/>
<br/>
<p id="remove" class="btn">Remove First Track from buffer</p>
<br/>
<br/>
<p id="change" class="btn">Change position between first track and last track</p>
<br/>
<br/>
{% endblock %}

{% block script %}
<script type="text/javascript">
	$(function(){
		var buffer = new BufferHandler('{{shortname}}');
		buffer.get_buffer_and_timestamp();
		$("#add").click(function(){
			buffer.add_tracks_to_buffer();
		});
		$("#remove").click(function(){
			buffer.remove_first_track_from_buffer();
		});
		$("#change").click(function(){
			buffer.change_tracks_position();
		});

		window.setInterval(function(){
			buffer.displayNowTime();
		}, 1000);

	});

	function BufferHandler (station_shortname){
		buffer = [];
		shortname = station_shortname;
		timestamp = new Date();

		this.getBuffer = function(){
			return buffer;
		};

		this.setBuffer = function(new_buffer){
			buffer = new_buffer;
		};

		this.getTimestamp = function(){
			return timestamp;
		};

		this.setTimestamp = function(new_timestamp) {
			timestamp = new_timestamp;
		};

		this.getShortname = function(){
			return shortname;
		};
	};

	BufferHandler.prototype.getDuration = function() {
		duration = 0;
		for (var i = 0; i < this.getBuffer().length; i++) {
			duration += this.getBuffer()[i].youtube_duration;
		};
		return duration;
	};

	BufferHandler.prototype.getCurrentTrack = function() {
		var now = PHB.now();
		var timestamp = Date.parse(this.getTimestamp())/1000;
		var buffer = this.getBuffer();
		var buffer_duration = this.getDuration();

		if (buffer_duration === 0) {
			return [undefined,undefined, 0,0];
		};

		now_broadcast_time = (now - timestamp) % buffer_duration;

		current_duration = 0;

		for (var i =  0; i < buffer.length; i++) {
			track = buffer[i];
			current_duration += track['youtube_duration'];
			if(current_duration>now_broadcast_time){
				return [i, track, now_broadcast_time - current_duration + track['youtube_duration'], now_broadcast_time];
			}

		};

	};

	BufferHandler.prototype.refresh = function(){
		var tracks = $('<ol style="float:none;">');
		for (var i = 0; i < this.getBuffer().length; i++) {
			track = this.getBuffer()[i]
			tracks.append($('<li style="float:none;">').text('id : '+track['youtube_id']+', title : '+track.youtube_title+', duration : '+track.youtube_duration));
		};
		$('#buffer').html(tracks);

		$('#timestamp').text("Timestamp : "+this.getTimestamp());
		$('#duration').text("Buffer duration : "+this.getDuration());
		
	};

	BufferHandler.prototype.displayNowTime = function(){
		var current_track_info = this.getCurrentTrack();
		if(current_track_info[0] !== undefined){
			$('#now').text("Now Playing : "+current_track_info[1]['youtube_title']+" at "+current_track_info[2]+" s. Seconds in buffer : "+current_track_info[3]);
		};
	}

	BufferHandler.prototype.get_buffer_and_timestamp = function(callback){
		var that = this;
		$.ajax({
			url: "/api/buffer/",
			type: "GET",
			data: {'shortname':this.getShortname()},
			dataType: "json",
			timeout: 60000,
			error: function(xhr, status, error){
				PHB.log(error);
			},
			success: function(json){
				PHB.log(json);
				that.setTimestamp(new Date(json['timestamp']));
				that.setBuffer(json['buffer']);
				that.refresh();
			},
		});
	};

	BufferHandler.prototype.add_tracks_to_buffer = function(callback){
		var that = this;
		tracks = [{
				'client_id':this.getShortname()+'.'+(Math.random())+'.buffer.'+(Math.random()),
				'youtube_id':'Q7lInSt2Xgs',
				'youtube_title':'1995 - Flava In Ya Ear (Remix)',
				'youtube_duration':210,
			},{
				'client_id':this.getShortname()+'.'+(Math.random())+'.buffer.'+(Math.random()),
				'youtube_id':'blWw7bM6TS0',
				'youtube_title':"1995 - La Suite - Clip (Prod. DJ Lo' / Réalisation : Le Garage)",
				'youtube_duration':295,
			},{
				'client_id':this.getShortname()+'.'+(Math.random())+'.buffer.'+(Math.random()),
				'youtube_id':'l0qs_VmTlGY',
				'youtube_title':"Nekfeu/Alpha Wann (1995) - Dans Ta Réssoi",
				'youtube_duration':275,
			}
		];

		$.ajax({
			url: "/api/buffer/",
			type: "POST",
			data: {'shortname':this.getShortname(),'tracks' :JSON.stringify(tracks)},
			dataType: "json",
			timeout: 60000,
			error: function(xhr, status, error){
				PHB.log(error);
			},
			success: function(json){
				PHB.log(json);
			},
		});
	};

	BufferHandler.prototype.remove_first_track_from_buffer = function(){
		var buffer = this.getBuffer();
		var that = this;
		if (buffer.length >0) {
			track_to_remove_id = buffer[0]['client_id'];
			$.ajax({
				url: "/api/buffer/"+track_to_remove_id,
				type: "DELETE",
				data: {},
				dataType: "json",
				timeout: 60000,
				error: function(xhr, status, error){
					PHB.log(error);
				},
				success: function(json){
					PHB.log(json);
				},
			});
		};
	};

	BufferHandler.prototype.change_tracks_position = function(){
		var buffer = this.getBuffer();
		var that = this;
		if (buffer.length >2) {
			old_index = 0;
			new_index = buffer.length-1;

			$.ajax({
				url: "/api/buffer/change/",
				type: "POST",
				data: {'shortname':that.getShortname(), 'old_index' :old_index, 'new_index': new_index},
				dataType: "json",
				timeout: 60000,
				error: function(xhr, status, error){
					PHB.log(error);
				},
				success: function(json){
					PHB.log(json);
				},
			});
		};
	};

</script>

{{ buffer }}

{% endblock %}