{% extends "base.html" %}

{% block main %}
<br/>
<p>Buffer :</p>
<br/>
<p id="buffer"></p>
<br/>
<br/>
<p id="duration">Buffer duration : </p>
<br/>
<br/>
<p id="timestamp">Timestamp : </p>
<br/>
<br/>
<p id="add">Add Tracks to buffer</p>
{% endblock %}

{% block script %}
<script type="text/javascript">
	$(function(){
		var buffer = new BufferHandler('{{shortname}}');
		buffer.get_buffer_and_timestamp();
		$("#add").click(buffer.add_tracks_to_buffer());

	});

	function BufferHandler (station_shortname){
		buffer = [];
		shortname = station_shortname;
		timestamp = new Date();
		//timestamp = new Date("{{timestamp}}");

		this.getBuffer = function(){
			return buffer;
		};

		this.setBuffer = function(new_buffer){
			buffer = new_buffer;
		};

		this.getTimestamp = function(){
			return timestamp;
		};

		this.setTimestamp = function(new_timestamp) {
			timestamp = new_timestamp;
		};

		this.getShortname = function(){
			return shortname;
		};
	};

	BufferHandler.prototype.getDuration = function() {
		duration = 0;
		for (var i = 0; i < this.getBuffer().length; i++) {
			duration += this.getBuffer()[i].youtube_duration;
		};
		return duration;
	};

	BufferHandler.prototype.getCurrentTrack = function() {
		var now = PHB.now();

	};

	BufferHandler.prototype.refresh = function(){
		var tracks = $('<ol>');
		for (var i = 0; i < this.getBuffer().length; i++) {
			track = this.getBuffer()[i]
			tracks.append($('<li>').text('id : '+track['youtube_id']+', title : '+track.youtube_title+', duration : '+track.youtube_duration));
		};
		$('#buffer').html(tracks);

		$('#timestamp').text("Timestamp : "+this.getTimestamp());
		$('#duration').text("Buffer duration : "+this.getDuration());
	};

	BufferHandler.prototype.get_buffer_and_timestamp = function(callback){
		var that = this;
		$.ajax({
			url: "/api/buffer/"+that.getShortname(),
			type: "GET",
			dataType: "json",
			timeout: 60000,
			error: function(xhr, status, error){
				that.log(error);
			},
			success: function(json){
				PHB.log(json);
				that.setTimestamp(new Date(json['timestamp']));
				that.setBuffer(json['buffer']);
				that.refresh();
			},
		});
	};

	BufferHandler.prototype.add_tracks_to_buffer = function(callback){
		var that = this;
		tracks = [{
				'youtube_id':'Q7lInSt2Xgs',
				'youtube_title':'1995 - Flava In Ya Ear (Remix)',
				'youtube_duration':210,
			},{
				'youtube_id':'blWw7bM6TS0',
				'youtube_title':"1995 - La Suite - Clip (Prod. DJ Lo' / Réalisation : Le Garage)",
				'youtube_duration':295,
			},{
				'youtube_id':'l0qs_VmTlGY',
				'youtube_title':"Nekfeu/Alpha Wann (1995) - Dans Ta Réssoi",
				'youtube_duration':275,
			}
		];
		$.ajax({
			url: "/api/buffer/"+that.getShortname(),
			type: "PUT",
			data: JSON.stringify({'tracks':tracks}),
			dataType: "json",
			timeout: 60000,
			error: function(xhr, status, error){
				PHB.log(error);
			},
			success: function(json){
				PHB.log(json);
			},
		});
	};

</script>

{{ buffer }}

{% endblock %}