{% extends "base.html" %}

{% block style %}
	<link type="text/css" rel="stylesheet" href="{{site_tag_url}}/static/css/error.css">
{% endblock %}

{% block header %}
	<div class="topbar">
		<div class="topbar-inner">
			<div class="container">
				<h1>Phonoblaster</h1>
				<a id="logo" href="/"></a>
			</div>
		</div>
	</div>
{% endblock %}

{% block main %}
	<div id="error">
		<h2>Hmm... Phonoblaster encountered a glitch.</h2>
		<p>Please retry in a few secs.</p>
	</div>
	<img src="{{site_tag_url}}/static/images/origami.jpg">
{% endblock %}