<meta property="og:title" content="Phonoblaster" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ site_url }}" />
<meta property="og:image" content="{{ site_url }}/static/images/icon.jpg" />
<meta property="og:description" content="Broadcast your music! Create your station, play your favorite music and let the world listen to it. A social music revolution."/>
<meta property="og:site_name" content="Phonoblaster"/>
<meta property="fb:app_id" content="{{ facebook_app_id }}"/>