<div id="bottom-bar">
	<div class="container">
		<div class="section" id="about">
			<h2>About</h2>
			<div class="stroke grey"></div>
			<p>With Phonoblaster, your friends, fans and followers can just go to a web page to listen to the same music you're listening to, right now.</p>
		</div>
		<div class="section" id="social">
			<h2>Follow us</h2>
			<div class="stroke grey"></div>
			<p><a href="https://facebook.com/phonoblaster"/>On Facebook</a></p>
			<p><a href="https://twitter.com/phonoblaster"/>On Twitter</a></p>
		</div>
		<div class="section" id="contact">
			<h2>Contact</h2>
			<div class="stroke grey"></div>
			<p><a href="mailto:hello@phonoblaster.com"/>hello@phonoblaster.com</a></p>
			<p><a href="/company/faq"/>F.A.Q.</a></p>
			<p><a href="/company/terms"/>Terms of use</a></p>
			<p><a href="/company/jobs"/>Jobs</a></p>
		</div>
	</div>
</div>