<div class="topbar">
	<div class="topbar-inner">
		<div class="container">
			<h1>Phonoblaster</h1>
			<a id="logo" href="/"></a>
			{% if station_proxy %}
			<a href="#" id="notifications" class="off"></a>
			{% endif %}
			<ul id="menu">
			{% if user_proxy %}
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/{{ user_proxy.profile.shortname }}" class="profile">
						<img src="https://graph.facebook.com/{{ user_proxy.profile.key_name }}/picture?type=square"/>
						<span>@{{ user_proxy.profile.shortname }}</span>
					</a>
				</li>
				<li class="show">
					<a href="#" class="dropdown"></a>
					<div id="dropdown-menu">
						{% if not one_profile %}
						<div id="dropdown-stations-title">Use Phonoblaster as</div>
						<ul id="dropdown-stations">
							{% for p in non_default_profiles %}
							<li>
								<a href="/profile/switch/{{ p.key_name }}" class="profile">
									<img src="https://graph.facebook.com/{{ p.key_name }}/picture?type=square"/>
									<span>{{ p.name }}</span>
								</a>
							</li>
							{% endfor %}
						</ul>
						<div id="dropdown-limiter"></div>
						{% endif %}
						<ul id="dropdown-options">
							{% if station_proxy and is_admin %}
							<li>
							<form action="{{ blobstore_url }}" method="post" enctype="multipart/form-data" id="edit-background">
								<p>
									<span>Upload a new background</span>
									<img src="/{{tag}}/static/images/loader.gif" style="display:none" class="loader"/>
								</p>
								<input type="file" name="picture" id="picture"/>
							</form>
							</li>
							{% endif %}
							<li>
								<a href="#" class="logout">Logout</a>
							</li>
						</ul>
					</div>
				</li>
			{% else %}
				<li>Broadcast your music now!</li>
				<li><a href="#" class="login">Login with Facebook</a></li>
			{% endif %}
			</ul>
		</div>
	</div>
</div>