{% extends "base.html" %}

{% block style %}
	<link type="text/css" rel="stylesheet" href="/static/css/station/popover.css" />
{% endblock %}

{% block main %}
	{% if current_user %}
	<!-- User is logged in-->
		<div class="station-listing">
			<h2>Your station</h2>
			<div id="your-station">
				{% if current_user_station %}
					<!-- User has a station-->
					<a href="/{{ current_user_station.identifier }}" class="img">
						<img src="/picture/view/{{ current_user_station.thumbnail.key }}"/>
					</a>
					<a href="/{{ current_user_station.identifier }}"><h3>{{ current_user_station.identifier }}</h3></a>
					<a href="/{{ current_user_station.identifier }}" class="button">Tune in!</a>
				{% else %}
					<!-- User does not have any station -->
					<form action="{{ blobstore_url }}" method="post" enctype="multipart/form-data" id="picture_upload">
						<div class="row">						
							<div class="left">
								<label for="picture">Picture*</label>
							</div>
							<div class="right">
								<div id="image_wrapper"></div>
								<input type="file" name="picture" id="picture"/>
								<img src="/static/images/small-ajax-loader.gif" style="clear:left; display:none"/>
								<div class="info">
									Maximum Size of 2 Mo. JPEG, PNG, GIF
								</div>
							</div>
						</div>
					</form>
					<form action="/station/create" method="post" id="create_station">
						<div class="row">
							<div class="left">
								<label for="identifier">Name*</label>
							</div>
							<div class="right">
								<input type="text" name="identifier" maxlength="20" id="identifier"/>
								<div id="availability"></div>
								<div class="info">
									The station web address will be <strong>http://phonoblaster.com/<em id="station_id"></em></strong>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="left">
							</div>
							<div class="right">
								<input type="submit" class="submit" value="Create now!"/><span> and start broadcasting your sound!</span>
							</div>
						</div>
					</form>
				{% endif %}
			</div>
		</div>
		{% if current_user_contributing_stations %}
		<div class="station-listing">
			<h2>Stations you contribute to</h2>
			<div id="station-items">
				{% for station in current_user_contributing_stations %}
				<div class="station-item">
					<h3><a href="/{{ station.identifier }}">{{ station.identifier }}</a></h3>
					<a href="/{{ station.identifier }}" class="img">
						<img src="/picture/view/{{ station.thumbnail.key }}">
					</a>
					<a href="/{{ station.identifier }}" class="button">Tune in!</a>
				</div>
				{% endfor %}
			</div>
		</div>
		{% endif %}
		
		{% if active_stations %}
			<div class="station-listing">
				<h2>Stations on the air</h2>
				<div id="station-items">
					{% for station in active_stations %}
					<div class="station-track-item">
						<div class="station-item">
							<h3><a href="/{{ station.0.identifier }}">{{ station.0.identifier }}</a></h3>
							<a href="/{{ station.0.identifier }}" class="img">
								<img src="/picture/view/{{ station.0.thumbnail.key }}">
							</a>
						</div>
						<div class="track-item">
							<div class="arrow"></div>
							<div class="inner">
								<div class="title">Currently playing</div>
								<div class="content">
									<img src="{{ station.1.youtube_thumbnail_url }}" class="img">
									<p><span>{{ station.1.youtube_title }}</span></p>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		{% else %}
			<div class="station-listing">
				<h2>Stations not yet on the air</h2>
				<div id="station-items">
					{% for station in non_active_stations %}
					<div class="station-item">
						<h3><a href="/{{ station.identifier }}">{{ station.identifier }}</a></h3>
						<a href="/{{ station.identifier }}" class="img"><img src="/picture/view/{{ station.thumbnail.key }}"></a>
						<a href="/{{ station.identifier }}" class="button">Tune in!</a>
					</div>
					{% endfor %}				
				</div>
			</div>	
		{% endif %}
		
	{% else %}
	<!-- User is not logged in-->
	<div id="welcome-top-left">
		<h2>Broadcast your music!</h2>
		<p class="description">Create your station, invite contributors, play your favorite music and let the world listen to it!</p>
		<div id="welcome-action" class="button">
			<p id="facebook"><fb:login-button autologoutlink="true" scope="email"></fb:login-button></p>
			<p id="create">to create your station</p>
		</div>
	</div>
	<div id="welcome-top-right">
		{% if active_stations %}
			<h3>Latest stations on the air</h3>
			{% for station in active_stations %}
				<div class="active-station">
					<a href="/{{ station.0.identifier }}" class="img">
						<img src="/picture/view/{{ station.0.thumbnail.key }}">
					</a>
					<div class="track-item">
						<div class="arrow"></div>
						<div class="inner">
							<div class="content">
								<img src="{{ station.1.youtube_thumbnail_url }}" class="img">
								<p><span>{{ station.1.youtube_title }}</span></p>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}


		{% else %}
			<h3>Stations on Phonoblaster</h3>
			{% for station in non_active_stations %}
				<div class="not-active-station">
					<a href="/{{ station.identifier }}" class="img"><img src="/picture/view/{{ station.thumbnail.key }}"></a>
				</div>
			{% endfor %}
		{% endif %}
	</div>
	<div id="separator"></div>
	<div class="welcome-bottom" style="width:33%;">
		<h4 style="text-align: left; padding-left: 8%; width: 94%;">Create your station</h4>
		<img src="/static/images/welcome-left.png" class="img" style="margin-left: 10px;"/>
		<p style="padding-left: 0%;">
			Become a radio programmer in 1 click. Start broadcasting and let people discover your awesome music!
		</p>
	</div>
	<div class="welcome-bottom" style="width:34%;">
		<h4 style="width: 97%;">Play your music</h4>
		<img src="/static/images/welcome-center.png" class="img" style="margin-left:48px;"/>
		<p>Powered by Youtube, we have the largest online music catalog. Pick up your favorite songs!</p>
	</div>
	<div class="welcome-bottom" style="width:33%;">
		<h4>Let anybody listen to it</h4>
		<img src="/static/images/welcome-right.png" class="img"/>		
		<p>When someone tunes into your station, he's listening to the exact same music you're listening to!</p>
	</div>
	{% endif %}
{% endblock %}

{% block script %}
	{% if current_user %}
		{% if not current_user_station %}
		<script type="text/javascript" src="/static/js/jquery.form.js"></script>
		<script type="text/javascript" src="/static/js/home.js"></script>
		{% endif %}
	{% else%}
		<script type="text/javascript">
			$(function(){
				var number_of_active_stations = $(".active-station").size()
				if(number_of_active_stations > 0){
					var number_of_stations_to_add = 6 - number_of_active_stations
					for(var i=0; i<number_of_stations_to_add; i++){
						$("#welcome-top-right").append(
							$("<div/>")
								.addClass("active-station")
								.append(
									$("<img/>")
										.addClass("img")
										.css({
											"margin":"5px",
											"height":"60px",
										})
										.attr("src", "static/images/blurry.png")
									
								)
								.append(
									$("<div/>")
										.addClass("track-item")
										.append(
											$("<div/>").addClass("arrow")
										)
										.append(
											$("<div/>")
												.addClass("inner")
												.append(
													$("<div/>")
														.addClass("content")
														.append(
															$("<p/>")
																.css("width","120px")
																.append(
																	$("<span/>").html("No other station on the air")
																)
														)
												)
										)
								)
						)
					}
				}
			});
		</script>
	{% endif %}
{% endblock %}
