<div id="media">
	<img src="/static/images/loader.gif" class="loader"/>
	<!--<div id="youtube-player"></div>-->
</div>
<div id="media-monitoring">
	<div id="counter-left">0:00</div>
	<div id="progression-bar"><div id="filler"></div></div>
	<div id="counter-right">0:00</div>
	<div id="media-volume" class="unmuted"></div>
</div>
<div id="media-details">
	<!-- Below div necessary for JS -->
	<div id="media-id"></div>
	<div id="media-picture"><!-- No image --></div>
	<div id="media-details-center">
		<div id="media-details-center-top">
			<h3>Current track</h3>
			<div id="media-submitter"><!-- No submitter --></div>
		</div>
		<div class="stroke black"></div>
		<div id="media-title">
			<span class="middle">No track is being broadcast</span>
		</div>
	</div>
	<div id="media-details-right"><!-- No favorite link --></div>
</div>