{% extends "base.html" %}

{% block header %}
<div class="topbar">
	<div class="topbar-inner">
		<div class="container">
			<h1>Phonoblaster</h1>
			<a id="logo" href="/"></a>
		</div>
	</div>
</div>
{% endblock %}

{% block style %}
	<link type="text/css" rel="stylesheet" href="/{{tag}}/static/css/profile.css">
{% endblock %}

{% block main %}
<div id="steps-wrapper" style="margin-left:{% if unique %}-600px{% endif %}">
	<div class="step" id="choose">
		<div class="box-wrapper">
			<div class="box">
				<div class="box-header">
					<h1>Use Phonoblaster as</h1>
				</div>
				<div class="box-content">
				{% if unique %}
				{% else %}
					{% for p in profiles %}
					<a href="#" class="item">
						<div class="picture">
							<img src="https://graph.facebook.com/{{ p.key_name }}/picture?type=square">
						</div>
						<span>{{ p.name }}</span>
					</a>
					{% endfor %}
				{% endif %}
				</div>
			</div>
		</div>
	</div>
	<div class="step" id="username">
		<div class="box-wrapper">
			<div class="box">
				<div class="box-header">
					<a href="#" class="box-previous">
						<span></span>
					</a>
					<h1>
						<span class="round">1</span>
						<span class="title">Your username</span>
					</h1>
				</div>
				<div class="box-content">
				</div>
				<div class="box-footer">
					<a href="#" class="box-next">Next</a>
				</div>
			</div>
		</div>
	</div>
	<div class="step" id="selection">
		<div class="box-wrapper">
			<div class="box">
				<div class="box-header">
					<a href="#" class="box-previous">
						<span></span>
					</a>
					<h1>
						<span class="round">2</span>
						<span class="title">Your selection</span>
					</h1>
				</div>
				<div class="box-content">
				</div>
				<div class="box-footer">
					<a href="#" class="box-next">Complete</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
