{% extends "base.html" %}

{% block meta %}
	<title>{{ profile_proxy.user.first_name }} {{ profile_proxy.user.last_name }}</title>
	<meta name="description" content="{{ profile_proxy.user.first_name }} is using Phonoblaster, a social music platform to share and discover new music.">
{% endblock %}

{% block facebook %}
	<!-- User Open Graph Tags -->
	<meta property="fb:app_id" content="{{ facebook_app_id }}"/>
	<meta property="og:type" content="{{ version }}:user"/> 
	<meta property="og:url" content="{{ site_url }}/user/{{ profile_proxy.user.key.name }}"/> 
	<meta property="og:title" content="{{ profile_proxy.user.first_name }} {{ profile_proxy.user.last_name }}"/> 
	<meta property="og:description" content="{{ profile_proxy.user.first_name }} is using Phonoblaster, a social music platform to share and discover new music."/>
	<meta property="og:image" content="https://graph.facebook.com/{{ profile_proxy.user.key.name }}/picture?type=large"/> 
	<meta property="og:site_name" content="Phonoblaster"/>
	<meta property="og:video:type" content="text/html"/>
	<meta property="og:video" content="{{ site_url }}/user/{{ profile_proxy.user.key.name }}"/>
{% endblock %}

{% block style %}
	<link type="text/css" rel="stylesheet" href="/{{ static }}/css/profile.css" />
{% endblock %}

{% block main %}
	<div id="left-column">
		<div class="fixed">
			<a href="/user/{{ profile_proxy.user.key.name }}">
				<img src="https://graph.facebook.com/{{ profile_proxy.user.key.name }}/picture?type=large"  class="thumbnail"/>
			</a>
			<div class="row" id="favorites">
				<strong class="number">{{ number_of_favorites }}</strong>
				<span class="title">Favorites</span>
			</div>
			<div class="row" id="suggestions">
				<strong class="number">{{ number_of_suggestions }}</strong>
				<span class="title">Suggestions</span>
			</div>
		</div>
	</div>
	<div id="middle-column">
		<div class="fixed">
			<div id="station-title">
				<h2>{{ profile_proxy.user.first_name }} {{ profile_proxy.user.last_name }}</h2>
			</div>
			<div id="video">
				<div id="player-wrapper">
					<img src="/{{ static }}/images/loader.gif"/>
					<!-- <div id="youtube-player"></div> -->
				</div>
			</div>
			<div id="video-details">
				<span class="clip"><!-- No image --></span>
				<div class="above-title">
					<h3>Current track</h3>
					<div id="favorite-track"></div>
				</div>
				<div class="submitter"></div>
				<div class="title">
					<span class="middle">No track is being played</span>
				</div>
			</div>
		</div>
	</div>
	<div id="right-column">
		<ul id="tabs" class="fixed">
			<li class="tuto" data-original-title="Tracks favorited by {{ profile_proxy.user.first_name }}" style="width:84px">
				<a href="#favorites-tab" class="current" id="favorites-header" style="width:70px">Favorites</a>
			</li>
			<li class="tuto" data-original-title="Tracks suggested by {{ profile_proxy.user.first_name }}" style="width:90px">
				<a href="#suggestions-tab" id="suggestions-header" style="width:76px">Suggestions</a>
			</li>
		</ul>
		<div id="tab-content-wrap">
			<div id="favorites-tab" class="tab-content">
				<div class="fixed">
				</div>
				<div class="tab-items">
					<div class="init">No favorite.</div>
				</div>
			</div>
			<div id="suggestions-tab" class="tab-content">
				<div class="tab-items">
					<div class="init">No suggestion.</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/{{ static }}/js/library/tab.js"></script>
<script type="text/javascript" src="/{{ static }}/js/library/favorite.js"></script>

<script type="text/javascript" src="/{{ static }}/js/station/swfobject.js"></script>
<script type="text/javascript" src="/{{ static }}/js/station/tab.js"></script>
<script type="text/javascript" src="/{{ static }}/js/station/counter.js"></script>

<script type="text/javascript" src="/{{ static }}/js/station/off/embedded.js"></script>
<script type="text/javascript" src="/{{ static }}/js/station/profile/favorite.js"></script>
<script type="text/javascript" src="/{{ static }}/js/station/profile/suggestion.js"></script>
<script type="text/javascript" src="/{{ static }}/js/station/profile/profile.js"></script>
<script type="text/javascript">
	//--- Reset ---
	USER = null;
	STATION = null;
	//--- User Initialization ---
	{% if user_proxy %} 
	USER = {
		"key_name": "{{ user_proxy.user.key.name }}",
		"name": "{{ user_proxy.user.first_name }} {{ user_proxy.user.last_name }}",
	}
	{% endif %}
	//--- Profile Initialization ---
	PROFILE = {
		"key_name": "{{ profile_proxy.user.key.name }}",
		"name": "{{ profile_proxy.user.first_name }} {{ profile_proxy.user.last_name }}",
	}
</script>
{% endblock %}

<!-- No footer because of position:fixed for left column -->
{% block footer %}
{% endblock%}