{% extends "base.html" %}
{% block style %}
	<link type="text/css" rel="stylesheet" href="/{{tag}}/static/css/welcome.css">
{% endblock %}

{% block header %}
<div class="topbar">
	<div class="topbar-inner">
		<div class="container">
			<h1>Phonoblaster</h1>
			<a id="logo" href="/"></a>
			<div id="menu">
			{% if not user_proxy %}
				<div>Broadcast your music now!</div>
			{% else %}
				<div><a href="#" class="logout">Logout</a></div>
			{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block main %}
	<div id="welcome">
		<img src="/{{tag}}/static/images/welcome/welcome.png">
		<div class="stroke black"></div>
		<div id="welcome-title">
			<h1>Broadcast your favorite music directly to your fans!</h1>
			<a class="login" href="#">Login with Facebook</a>
			<p><img src="/{{tag}}/static/images/welcome/lock.png"/>We'll never post to your page without your permission.</p>
		</div>
	</div>
	<div class="welcome-block" id="welcome-audience">
		<div class="welcome-half left"></div>
		<div class="welcome-half right">
			<h2>Engage your audience!</h2>
			<p>Build Phonoblaster on top of your Facebook page and start connecting in real time with your fans around music. Engage your community and your audience will grow bringing new fans on board!</p>
		</div>
	</div>
	<div class="welcome-block" id="welcome-discover">
		<div class="welcome-half left">
			<h2>Help your fans discover music!</h2>
			<p>Imagine your fans can just go to a web page to listen the same music you're listening to right now. Wouldn't it be the best way to let them know about your biggest influences, favorite artists or most amazing records?</p>
		</div>
		<div class="welcome-half right"></div>
	</div>
	<div class="welcome-block" id="welcome-broadcast">
		<div class="welcome-half left"></div>
		<div class="welcome-half right">
			<h2>Don't just listen: live broadcast!</h2>
			<p>Phonoblaster turns any music listening experience into a live performance or a radio broadcast. Reach out Tokyo music freaks while chilling out in your Manhattan flat.</p>
		</div>
	</div>
{% endblock %}