{% extends "base.html" %}
{% block style %}
	<link type="text/css" rel="stylesheet" href="/{{tag}}/static/css/welcome.css">
{% endblock %}

{% block header %}
<div class="topbar">
	<div class="topbar-inner">
		<div class="container">
			<h1>Phonoblaster</h1>
			<a id="logo" href="/"></a>
			<div id="menu">
			{% if not user_proxy %}
				<div>Broadcast your music now!</div>
			{% else %}
				<div><a href="#" class="logout">Logout</a></div>
			{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block main %}
	<div id="welcome">
		<img src="/{{tag}}/static/images/welcome/welcome.png">
		<div class="stroke black"></div>
		<div id="welcome-title">
			<h1>Phonoblaster is your own social radio, online, for free, 24/7</h1>
			<a class="login" href="#">Login with Facebook</a>
			<p><img src="/{{tag}}/static/images/welcome/lock.png"/>We'll never mess up with your data.</p>
		</div>
	</div>
{% endblock %}