{% extends "base.html" %}
{% block style %}
	<link type="text/css" rel="stylesheet" href="/{{tag}}/static/css/welcome.css">
{% endblock %}

{% block header %}
<div class="topbar">
	<div class="topbar-inner">
		<div class="container">
			<h1>Phonoblaster</h1>
			<a id="logo" href="/"></a>
			<div id="menu">
			{% if not user_proxy %}
				<div>Broadcast your music now!</div>
			{% else %}
				<div><a href="#" class="logout">Logout</a></div>
			{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block main %}
	<div id="slide0" class="slide">
		<div class="container">
			<img src="/{{tag}}/static/images/welcome/welcome.png">
			<div class="stroke black" style="margin-top:0px"></div>
			<div id="welcome-title">
				<h1>Phonoblaster is your own social radio, online, for free, 24/7</h1>
				<a class="login" href="#">Login with Facebook</a>
				<p><img src="/{{tag}}/static/images/welcome/lock.png"/>We'll never mess with your data.</p>
			</div>
			<!--
			<div id="welcome-scroll">
				<span>Scroll down for more info</span>
				<span></span>
			</div>
			-->
		</div>
	</div>
	<!--
	<div id="slide1a" class="slide"></div>
	<div id="slide1b" class="slide"></div>
	<div id="slide2a" class="slide"></div>
	<div id="slide2b" class="slide"></div>
	<div id="slide2c" class="slide"></div>
	<div id="slide3a" class="slide"></div>
	<div id="slide3b" class="slide"></div>
	<div id="slide3c" class="slide"></div>
	<div id="slide3d" class="slide"></div>
	<div id="slide3e" class="slide"></div>
	<div id="slide4" class="slide"></div>
	<div id="slide5a" class="slide"></div>
	<div id="slide5b" class="slide"></div>
	<div id="slide5c" class="slide"></div>
	<div id="slide5d" class="slide"></div>	
	<div id="slide5c" class="slide"></div>
	<div id="slide6a" class="slide"></div>
	<div id="slide6b" class="slide"></div>
	<div id="slide7a" class="slide"></div>
	<div id="slide7b" class="slide"></div>
	<div id="slide8a" class="slide"></div>
	<div id="slide8b" class="slide"></div>
	<div id="slide8c" class="slide"></div>
	<div id="slide8d" class="slide"></div>
	<div id="slide8e" class="slide"></div>
	<div id="slide8f" class="slide"></div>
	<div id="slide8g" class="slide"></div>
	<div id="slide8h" class="slide"></div>
	<div id="slide8left" class="slide"></div>
	<div id="slide8right" class="slide"></div>
	-->
{% endblock %}

{% block script %}
<!--<script type="text/javascript" src="/static/js/welcome.js"></script>-->
{% endblock %}