<html>
	<link type="text/css" rel="stylesheet" href="/static/css/widget.css" />
	<body>
		<div class="widget">
			<div class="contents">
				<div class="station">
					<a href="{{ site_url }}/{{ station.identifier }}" target="_blank">
						<img src="/picture/view/{{ station.thumbnail.key }}" id="station"/>
					</a>
					<div class="info">
						<div class="button">		
							{% if current_song %}
				  			<a href="{{ site_url }}/{{ station.identifier }}" class="button danger" target="_blank">On Air</a>
							{% else %}
							<a href="{{ site_url }}/{{ station.identifier }}" class="button" target="_blank">Off Air</a>
							{% endif %}
						</div>
						<div class="identifier">
							<a href="{{ site_url }}/{{ station.identifier }}" target="_blank">{{station.identifier}}</a>
						</div>
						<div class="listeners">
							{{number_listeners}} listener(s)
						</div>
					</div>
				</div>
				<div class="songs">
				</div>
			</div>
			<div class="footer">
				<img src="../../static/images/phonoblaster_widget.png" id="logo"/>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="/static/js/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="/static/js/widget/updater.js"></script>
	<script type="text/javascript" src="/static/js/widget/displayer.js"></script>
	<script type="text/javascript" src="/static/js/widget/fetcher.js"></script>
	<script>
		identifier = "{{station.identifier}}"
	</script>
</html>