{% extends "station/root.html" %}

{% block meta %}
	<title>{{ station_proxy.station.name }} Broadcasts</title>
	<meta name="description" content="Past broadcasts of {{ station_proxy.station.name }} on Phonoblaster.">
{% endblock %}

{% block facebook %}
	<!-- Station Open Graph Tags -->
	<meta property="fb:app_id" content="{{ facebook_app_id }}"/>
	<meta property="og:type" content="{{ version }}:station"/> 
	<meta property="og:url" content="{{ site_url }}/{{ station_proxy.station.shortname }}"/> 
	<meta property="og:title" content="{{ station_proxy.station.name }}"/> 
	<meta property="og:description" content="Listen now to {{ station_proxy.station.name }} on Phonoblaster. Like us here: {{ station_proxy.station.link }}"/>
	<meta property="og:image"  content="https://graph.facebook.com/{{ station_proxy.station.key.name }}/picture?type=large"/> 
	<meta property="og:site_name" content="Phonoblaster"/>
	<meta property="og:video:type" content="text/html"/>
	<meta property="og:video" content="{{ site_url }}/{{ station_proxy.station.shortname }}"/>
	<meta property="{{ version }}:page" content="{{ station_proxy.station.link }}"/>
{% endblock %}

{% block style %}
	<link type="text/css" rel="stylesheet" href="/static/css/station/broadcasts.css" />
{% endblock %}


{% block middle-column %}
	<div class="fixed">
		<div id="station-title">
			<h2>{{ station_proxy.station.name }}</h2>
			<div class="fb-like" data-href="{{ station_proxy.station.link }}" data-send="false" data-layout="button_count"  data-show-faces="false"></div>
		</div>
		<div id="video">
			<div id="player-wrapper">
				<img src="/static/images/loader.gif"/>
				<!-- <div id="youtube-player"></div> -->
			</div>
		</div>
		<div id="video-details">
			<span class="clip"><!-- No image --></span>
			<div class="above-title">
				<h3>Current track</h3>
			</div>
			<div class="title">
				<span class="middle">No track is being played</span>
			</div>
		</div>
	</div>
	<div id="comments">
		<div id="comments-zone">
		</div>
	</div>
{% endblock %}

{% block right-column %}
	<div id="station-status" class="fixed">
		<span class="btn">Off air</span>
		<p>
			<span class="middle">
				<strong>{{ station_proxy.station.name }}</strong> is <em>not connected</em>
			</span>
		</p>
	</div>
	<ul id="tabs" class="fixed">
		<li class="tuto" data-original-title="Past tracks broadcast by {{ station_proxy.station.name }}" style="width:90px">
			<a href="#broadcasts-tab" class="current" id="broadcasts-header" style="width:76px">Broadcasts</a>
		</li>
	</ul>
	<div id="tab-content-wrap">
		<div id="broadcasts-tab" class="tab-content">
			<div class="fixed">
			</div>
			<div class="tab-items">
				<div class="init">No past broadcast.</div>
			</div>
		</div>
	</div>
{% endblock %}


{% block script %}
<script type="text/javascript" src="/static/js/library/tab.js"></script>

<script type="text/javascript" src="/static/js/station/swfobject.js"></script>
<script type="text/javascript" src="/static/js/station/tab.js"></script>
<script type="text/javascript" src="/static/js/station/counter.js"></script>

<script type="text/javascript" src="/static/js/station/off/embedded.js"></script>
<script type="text/javascript" src="/static/js/station/off/broadcast.js"></script>
<script type="text/javascript" src="/static/js/station/off/off.js"></script>
<script type="text/javascript">
	//--- Reset ---
	USER = null;
	ADMIN = false;
	STATION = null;
	//--- User Initialization ---
	{% if user_proxy %} 
	USER = {
		"key_name": "{{ user_proxy.user.key.name }}",
		"name": "{{ user_proxy.user.first_name }} {{ user_proxy.user.last_name }}",
	}
	{% endif %}
	//--- Admin Initialization ---
	{% if is_admin %} 
	ADMIN = true;
	{% endif %}
	//--- Station Initialization ---
	STATION = {
		"key_name": "{{ station_proxy.station.key.name }}",
		"shortname": "{{ station_proxy.station.shortname }}",
		"name": "{{ station_proxy.station.name}}",
	}
</script>
{% endblock %}