<!-- TO BE REMOVED -->

<div id="comments">
	<div id="comments-input">
		<div id="comments-input-picture">
			{% if user_proxy %}
				{% if is_admin %}
				<img class="tuto" data-original-title="{{ station_proxy.station.name }}" src="https://graph.facebook.com/{{ station_proxy.station.key.name }}/picture?type=square">
				{% else %}
				<img class="tuto" data-original-title="{{ user_proxy.user.first_name }} {{ user_proxy.user.last_name }}" src="https://graph.facebook.com/{{ user_proxy.user.key.name }}/picture?type=square">
				{% endif %}
			{% else %}
			<img src="/{{tag}}/static/images/unknown.png">
			{% endif %}
		</div>
		<form method="post" action="" id="comments-form">
			<input type="text" name="comment" id="comments-input" value="Comment..." autocomplete="off"/>
			<input type="submit" value="Comment" id="comments-submit"/>
		</form>
	</div>
	<div id="comments-display"></div>
	<div id="comments-footer"></div>
</div>