{% extends "root.html" %}

{% block meta %}
	<title>{{ current_station.identifier }}/contributors</title>
	{% if current_station.description %}
	<meta name="description" content="{{ current_station.description }}">
	{% else %}
	<meta name="description" content="The contributors of {{ current_station.identifier }} music stream on Phonoblaster.">
	{% endif %}
{% endblock %}

{% block middle-column %}
	<h2><a href="/{{ current_station.identifier }}">{{ current_station.identifier }}</a></h2>
	<h3>Contributors</h3>
	<div id="contributors">
	{% if current_contributions %}
		<div class="contributor-info">
			<img src="http://graph.facebook.com/{{ current_station.creator.facebook_id }}/picture?type=square" class="img"/>
			<p class="contributor-name">
				<a href="/user/{{ current_station.creator.key.id }}">{{ current_station.creator.public_name }}</a>
			</p>
		</div>
		{% for contribution in current_contributions %}
		<div class="contributor-info">
			<img src="http://graph.facebook.com/{{ contribution.1.facebook_id }}/picture?type=square" class="img"/>
			<p class="contributor-name">
				<a href="/user/{{ contribution.1.key.id }}">{{ contribution.1.public_name }}</a>
			</p>
			{% if status_creator %}
			<p class="contributor-delete">
				<a href="" id="contributor-delete" name="{{ contribution.0.key }}" class="close">
					<span id="cross">×</span>
					<img src="/static/images/small-ajax-loader.gif" id="loader" style="display:none;">
				</a>
			</p>
			{% endif %}
		</div>
		{% endfor %}
		{% if status_creator %}
			{% if some_contributions_left %}
				<p style="clear:left;"><a href="" id="invite" class="submit">Invite up to 10 friends to post tracks</a></p>
			{% else %}
				<p style="margin-top:15px">You have reached the limit of 10 contributors</p>
			{% endif %}
		{% endif %}
	{% else %}
		{% if status_creator %}
			<p>There is no contributor except you for this station.</p>
			<p><a href="" id="invite" class="submit">Invite some friends now to share music together!</a></p>
			<div id="skipthis">
				<p>Or skip this step and:</p>
				<a href="/{{ current_station.identifier }}" class="button">Go to your station</a>
			</div>
		{% else %}
		<div class="contributor-info">
			<img src="http://graph.facebook.com/{{ current_station.creator.facebook_id }}/picture?type=square" class="img">
			<p class="contributor-name">
				<a href="/user/{{ current_station.creator.key.id }}">{{ current_station.creator.public_name }}</a>
			</p>
		</div>
		{% endif %}
	{% endif %}
	</div>
{% endblock %}

{% block script %}
	<script type="text/javascript" src="/static/js/station/contributors.js"></script>
	<script>
		var station_key = "{{ current_station.key }}"
		var current_station_name = "{{ current_station.identifier }}";
		var exclude_ids = ["{{ current_station.creator.facebook_id }}"];
		{% for contribution in current_contributions %}
			exclude_ids.push("{{ contribution.1.facebook_id }}");
		{% endfor %}
	</script>
{% endblock %}