<a href="/{{ station_proxy.station.shortname }}">
	<img src="https://graph.facebook.com/{{ station_proxy.station.key.name}}/picture?type=large"  class="thumbnail"/>
</a>
<div class="row" id="page">
	<a href="{{ station_proxy.station.link }}" target="_blank">
		<span></span>Page
	</a>
</div>
<div class="row" id="broadcasts">
	<strong class="number">{{ number_of_broadcasts }}</strong>
	<span class="title">Broadcasts</span>
</div>
<div class="row" id="views">
	<strong class="number">{{ number_of_views }}</strong>
	<span class="title">Views</span>
</div>

