<a href="/{{ current_station.identifier }}" class="img">
	<img src="/picture/view/{{ current_station.picture.key }}" id="profile"/>
</a>
{% if current_station.description %}
<div id="description">
	{{ current_station.description }}
</div>
{% endif %}
{% if current_station.website %}
<div id="website">
	<a href="{{ current_station.website }}" target="_blank">Website</a>
</div>
{% endif %}
<div class="info">
	<a href="/{{ current_station.identifier}}/tracks">
		<p class="top">Tracks</p>
		<p class="bottom" id="number_of_tracks">{{ number_of_tracks }}</p>
	</a>
</div>
<div class="info">
	<a href="/{{ current_station.identifier}}/contributors">
		<p class="top">Contributors ({{ number_of_contributions }})</p>
	</a>
	<!--<p class="bottom" id="number_of_contributors">{{ number_of_contributions }}</p>-->
	<div id="contributor_items">
		<a href="/user/{{ current_station.creator.key.id }}">
			<img src="http://graph.facebook.com/{{ current_station.creator.facebook_id }}/picture?type=square"/>
		</a>
		{% for contributor in current_contributors %}
		<a href="/user/{{ contributor.key.id }}">
			<img src="http://graph.facebook.com/{{ contributor.facebook_id }}/picture?type=square"/>
		</a>
		{% endfor %}
	</div>
</div>
