<a href="/frenchsiliconnection"><img src="https://graph.facebook.com/166601710024295/picture?type=large"  class="thumbnail"/></a>
<div class="row" id="page">
	<a href="http://facebook.com/frenchsiliconnection" target="_blank">
		<span></span>Page
	</a>
</div>
<div class="row" id="broadcasts">
	<a href="{{ site_url }}/frenchsiliconnection/broadcasts">
		<strong class="number">0</strong>
		<span class="title">Broadcasts</span>
	</a>
</div>
<div class="row" id="broadcasts">
	<strong class="number">0</strong>
	<span class="title">Views</span>
</div>

