<a href="/{{ current_station.identifier }}" class="img">
	<img src="/picture/view/{{ current_station.picture.key }}" id="profile"/>
</a>

<div id="description">
{% if current_station.description %}
	{{ current_station.description }}
{% else %}
	{% if status_creator %}
		{% if not current_station.website %}
		<a href="/{{ current_station.identifier}}/edit">Add description and website</a>
		{% endif %}
	{% endif %}
{% endif %}
</div>

{% if current_station.website %}
<div id="website">
	<a href="{{ current_station.website }}" target="_blank">Website</a>
</div>
{% endif %}


<div class="info">
	<a href="/{{ current_station.identifier}}/tracks">
		<p class="top">Tracks</p>
		<p class="bottom" id="number_of_tracks">{{ number_of_tracks }}</p>
	</a>
</div>
<div class="info">
	<p class="top">
		<a href="/{{ current_station.identifier}}/contributors">Contributors ({{ number_of_contributions }})</a>
	</p>
	<div id="contributor_items" class="items">
		<a href="/user/{{ current_creator.key.id }}">
			<img src="http://graph.facebook.com/{{ current_creator.facebook_id }}/picture?type=square" 
				class="user" title="{{ current_creator.public_name }}"/>
		</a>
		{% for contributor in current_contributors %}
		<a href="/user/{{ contributor.key.id }}" class="user" title="{{ current_creator.public_name }}">
			<img src="http://graph.facebook.com/{{ contributor.facebook_id }}/picture?type=square" 
				class="user" title="{{ contributor.public_name }}"/>
		</a>
		{% endfor %}
	</div>
</div>
