{% extends "base.html" %}
{% block style %}
	<link type="text/css" rel="stylesheet" href="/{{tag}}/static/css/station/manage.css">
{% endblock %}

{% block main %}
<div id="right-column">
	<div class="title">
		<h1>Facebook App Reinstall</h1>
	</div>
	<div class="content">
		{% if user_contributions %}
			{% for contribution in user_contributions %}
				<div class="contribution">
					<img src="https://graph.facebook.com/{{ contribution.page_id }}/picture" class="thumbnail"/>
					<p class="page-name"><span class="middle">{{ contribution.page_name }}</span></p>
					<p>
						<img class="loader" src="/{{tag}}/static/images/loader.gif" style="visibility:hidden;"/>
						<a href="#" class="btn" id="{{ contribution.page_id }}">Reinstall !</a>
					</p>
				</div>
			{% endfor %}
		{% else %}
			You don't have any Facebook page.<br/>
			Create one <a href="https://www.facebook.com/pages/create.php">here</a> and then refresh this page.
		{% endif %}
	</div>
	<div id="manage-skip">Or <a href="/" class="btn primary">Go back to Hame Page</a></div>
</div>
{% endblock %}

{% block script %}
	<script type="text/javascript" src="/{{tag}}/static/js/station/manage.js"></script>
{% endblock %}