{% extends "base.html" %}

{% block style %}
	<link type="text/css" rel="stylesheet" href="/{{tag}}/static/css/station/manage.css">
{% endblock %}

{% block main %}
<div id="right-column">
	<div class="title">
		<h1>Install Phonoblaster on your Facebook page</h1>
	</div>
	<div class="content">
		{% for installed_station in installed_stations %}
			<div class="station">
				<img src="https://graph.facebook.com/{{ installed_station.key().name() }}/picture" class="thumbnail"/>
				<p class="name"><span class="middle">{{ installed_station.name }}</span></p>
				<p>
					<img class="loader" src="/{{tag}}/static/images/loader.gif" style="visibility:hidden;"/>
					<a href="#" class="btn" id="{{ installed_station.key().name() }}">Install</a>
				</p>
			</div>
		{% endfor %}
	</div>
	<div id="manage-skip">Or <a href="/" class="btn primary">Go back to home page</a></div>
</div>
{% endblock %}

{% block script %}
	<script type="text/javascript" src="/{{tag}}/static/js/station/manage.js"></script>
{% endblock %}