{% extends "station/root.html" %}

{% block style %}
	<link type="text/css" rel="stylesheet" href="/{{ static }}/css/station/off.css" />
{% endblock %}


{% block middle-column %}
	<div class="fixed">
		<div id="station-title">
			<h2>{{ station_proxy.station.name }}</h2>
			<div class="fb-like" data-href="{{ station_proxy.station.link }}" data-send="false" data-layout="button_count"  data-show-faces="false"></div>
		</div>
		<div id="video">
			<div id="player-wrapper">
				<img src="/{{ static }}/images/loader.gif"/>
				<!-- <div id="youtube-player"></div> -->
			</div>
		</div>
		<div id="video-details">
			<span class="clip"><!-- No image --></span>
			<div class="above-title">
				<h3>Current track</h3>
				<div id="favorite-track"></div>
			</div>
			<div class="submitter"></div>
			<div class="title">
				<span class="middle">No track is being played</span>
			</div>
		</div>
	</div>
	<div id="comments">
		<div id="comment-box">
			{% if user_proxy %}
				{% if is_admin %}
				<img class="tuto" data-original-title="{{ station_proxy.station.name }}" src="http://graph.facebook.com/{{ station_proxy.station.key.name }}/picture?type=square">
				{% else %}
				<img class="tuto" data-original-title="{{ user_proxy.user.first_name }} {{ user_proxy.user.last_name }}" src="http://graph.facebook.com/{{ user_proxy.user.key.name }}/picture?type=square">
				{% endif %}
			{% else %}
			<img src="/{{ static }}/images/unknown-listener.png">
			{% endif %}
			<form method="post" action="" id="comment">
				<input type="text" name="comment" id="comment" value="Comment..." autocomplete="off"/>
				<span id="fb-sync" class="active tuto" data-original-title="Comment on Facebook: ON"></span>
				<input type="submit" value="Comment" class="submit"/>
			</form>
		</div>
		<div id="comments-zone">
		</div>
	</div>
{% endblock %}

{% block right-column %}
	<div id="station-status" class="fixed">
		<span class="btn">Off air</span>
		<p>
			<span class="middle">
				<strong>{{ station_proxy.station.name }}</strong> is <em>not connected</em>
			</span>
		</p>
	</div>
	<div id="popup-onair">
		<h2>{{ station_proxy.station.name }} is now ON AIR!</h2>
		<img src="https://graph.facebook.com/{{ station_proxy.station.key.name }}/picture?type=large" class="thumbnail"/>
		<h3>Now broadcasting:</h3>
		<span class="clip"><!-- No image --></span>
		<div class="title">
			<span class="middle"><!-- No title --></span>
		</div>
		<div class="modal-footer">
			<a href="/{{ station_proxy.station.shortname }}" class="btn primary">Check it out!</a>
		</div>
	</div>
	<ul id="tabs" class="fixed">
		<li class="tuto" data-original-title="Past tracks broadcast by {{ station_proxy.station.name }}" style="width:90px">
			<a href="#broadcasts-tab" class="current" id="broadcasts-header" style="width:76px">Broadcasts</a>
		</li>
	</ul>
	<div id="tab-content-wrap">
		<div id="broadcasts-tab" class="tab-content">
			<div class="fixed">
			</div>
			<div class="tab-items">
				<div class="init">No past broadcast.</div>
			</div>
		</div>
	</div>
{% endblock %}


{% block script %}
<script type="text/javascript" src="/{{ static }}/js/library/tab.js"></script>
<script type="text/javascript" src="/{{ static }}/js/library/favorite.js"></script>

<script type="text/javascript" src="/{{ static }}/js/station/swfobject.js"></script>
<script type="text/javascript" src="/{{ static }}/js/station/tab.js"></script>
<script type="text/javascript" src="/{{ static }}/js/station/comment.js"></script>
<script type="text/javascript" src="/{{ static }}/js/station/counter.js"></script>

<script type="text/javascript" src="/{{ static }}/js/station/off/embedded.js"></script>
<script type="text/javascript" src="/{{ static }}/js/station/off/broadcast.js"></script>
<script type="text/javascript" src="/{{ static }}/js/station/off/air.js"></script>
<script type="text/javascript" src="/{{ static }}/js/station/off/off.js"></script>
<script type="text/javascript">
	//--- Reset ---
	USER = null;
	ADMIN = false;
	STATION = null;
	//--- User Initialization ---
	{% if user_proxy %} 
	USER = {
		"key_name": "{{ user_proxy.user.key.name }}",
		"name": "{{ user_proxy.user.first_name }} {{ user_proxy.user.last_name }}",
	}
	{% endif %}
	/*--- Admin Initialization ---*/
	{% if is_admin %} 
	ADMIN = true;
	{% endif %}
	//--- Station Initialization ---
	STATION = {
		"key_name": "{{ station_proxy.station.key.name }}",
		"shortname": "{{ station_proxy.station.shortname }}",
		"name": "{{ station_proxy.station.name}}",
	}
</script>
{% endblock %}