{% extends "station/root.html" %}

{% block style %}
	<link type="text/css" rel="stylesheet" href="/static/css/station/off.css" />
{% endblock %}

{% block social-block %}
	<div class="fb-facepile" data-href="{{ station_proxy.station.link }}" data-max-rows="3" data-width="250"></div>
{% endblock %}

{% block main-right %}
	<ul id="tabs">
		<li class="tuto" data-original-title="Past tracks broadcast by {{ station_proxy.station.name }}" style="width:90px">
			<a href="#broadcasts-tab" class="current" id="broadcasts-header" style="width:76px">Broadcasts</a>
		</li>
	</ul>
	<div id="broadcasts-tab" class="tab-content">
		<div class="tab-items">
			<div class="init">No past broadcast.</div>
		</div>
	</div>
	<!-- Switch to on air popup -->
	<div id="popup-onair" class="popup">
		<h2>{{ station_proxy.station.name }} is now ON AIR!</h2>
		<img src="https://graph.facebook.com/{{ station_proxy.station.key.name }}/picture?type=large" class="thumbnail"/>
		<h3>Now broadcasting:</h3>
		<div class="item-picture"><!-- No image --></div>
		<div class="item-title">
			<span class="middle"><!-- No title --></span>
		</div>
		<div class="modal-footer">
			<a href="/{{ station_proxy.station.shortname }}" class="btn primary">Check it out!</a>
		</div>
	</div>
{% endblock %}


{% block script %}
<script type="text/javascript" src="/static/js/common/tab.js"></script>

<script type="text/javascript" src="/static/js/player/favorite.js"></script>
<script type="text/javascript" src="/static/js/player/swfobject.js"></script>
<script type="text/javascript" src="/static/js/player/embedded.js"></script>

<script type="text/javascript" src="/static/js/station/comment.js"></script>

<script type="text/javascript" src="/static/js/station/off/broadcast.js"></script>
<script type="text/javascript" src="/static/js/station/off/air.js"></script>
<script type="text/javascript" src="/static/js/station/off/off.js"></script>
<script type="text/javascript">
	//Removing social block
	//$("#social-block").hide();
	//$("#bottom-bar").hide();
	//$("body").css("padding-bottom",0);
	//--- Reset ---
	USER = null;
	ADMIN = false;
	STATION = null;
	//--- User Initialization ---
	{% if user_proxy %} 
	USER = {
		"key_name": "{{ user_proxy.user.key.name }}",
		"name": "{{ user_proxy.user.first_name }} {{ user_proxy.user.last_name }}",
	}
	{% endif %}
	//--- Admin Initialization ---
	{% if is_admin %} 
	ADMIN = true;
	{% endif %}
	//--- Station Initialization ---
	STATION = {
		"key_name": "{{ station_proxy.station.key.name }}",
		"shortname": "{{ station_proxy.station.shortname }}",
		"name": "{{ station_proxy.station.name}}",
	}
</script>
{% endblock %}
