<!-- Station Open Graph Tags -->
<meta property="fb:app_id" content="{{ facebook_app_id }}"/>
<meta property="og:type" content="phb_local:station"/> 
<meta property="og:url" content="{{ site_url }}/{{ station_proxy.station.shortname }}"/> 
<meta property="og:title" content="{{ station_proxy.station.name }}"/> 
<meta property="og:description" content="Listen to {{ station_proxy.station.name }} station on Phonoblaster."/>
<meta property="og:image"  content="https://graph.facebook.com/{{ station_proxy.station.key.name }}/picture?type=large"/> 
<meta property="og:site_name" content="Phonoblaster"/>
<meta property="phb_local:page" content="{{ station_proxy.station.link }}"/>