{% extends "base.html" %}

{% block meta %}
	<title>{{ station_proxy.station.name }}</title>
	<meta name="description" content="Listen now to {{ station_proxy.station.name }} station on Phonoblaster.">
{% endblock %}

{% block facebook %}
	<!-- Station Open Graph Tags -->
	<meta property="fb:app_id" content="{{ facebook_app_id }}"/>
	<meta property="og:type" content="{{ version }}:station"/> 
	<meta property="og:url" content="{{ site_url }}/{{ station_proxy.station.shortname }}"/> 
	<meta property="og:title" content="{{ station_proxy.station.name }}"/> 
	<meta property="og:description" content="Listen now to {{ station_proxy.station.name }} on Phonoblaster."/>
	<meta property="og:image"  content="https://graph.facebook.com/{{ station_proxy.station.key.name }}/picture?type=large"/> 
	<meta property="og:site_name" content="Phonoblaster"/>
	<meta property="og:video:type" content="text/html"/>
	<meta property="og:video" content="{{ site_url }}/{{ station_proxy.station.shortname }}"/>
	<meta property="{{ version }}:page" content="{{ station_proxy.station.link }}"/>
{% endblock %}

{% block top-left %}
	<div id="top-left-picture">
		<a href="/{{ station_proxy.station.shortname }}">
			<img src="https://graph.facebook.com/{{ station_proxy.station.key.name}}/picture?type=large"/>
		</a>
	</div>
	<div id="top-left-description">
		<div id="top-left-title">
			<a href="/{{ station_proxy.station.shortname }}"><h1>{{ station_proxy.station.name }}</h1></a>
			<div class="fb-like" data-href="{{ station_proxy.station.link }}" data-send="false" data-layout="button_count"  data-show-faces="false"></div>
		</div>
		<div class="stroke black"></div>
		<div id="top-left-figures">
			<div id="top-left-broadcasts" class="stat">
				<span class="figure">{{ station_proxy.number_of_broadcasts }}</span>
				<span class="title">Broadcasts</span>
			</div>
			<div id="top-left-views" class="stat">
				<span class="figure">{{ station_proxy.number_of_views }}</span>
				<span class="title"> Views</span>
			</div>
			<div id="top-left-suggestions" class="stat">
				<span class="figure">{{ station_proxy.number_of_suggestions }}</span>
				<span class="title"> Suggestions</span>
			</div>
		</div>
		<div id="top-left-page">
			<a href="{{ station_proxy.station.link }}" target="_blank">{{ station_proxy.station.link }}</a>
		</div>
		{% if on_air %}
		<div id="top-left-status" class="on"><a href="/{{ station_proxy.station.shortname }}">on air</a></div>
		{% else %}
		<div id="top-left-status" class="off"><a href="/{{ station_proxy.station.shortname }}">off air</a></div>
		{% endif %}
	</div>
{% endblock %}

{% block main-left %}
	{% block media %}
		{% include "media.html" %}
	{% endblock %}
	{% block comment %}
		{% include "station/comment.html" %}
	{% endblock %}
{% endblock %}