{% extends "base.html" %}

{% block meta %}
	<title>{{ station_proxy.station.name }}</title>
	<meta name="description" content="Listen now to {{ station_proxy.station.name }} station on Phonoblaster.">
{% endblock %}

{% block facebook %}
	<!-- Station Open Graph Tags -->
	<meta property="fb:app_id" content="{{ facebook_app_id }}"/>
	<meta property="og:type" content="{{ version }}:station"/> 
	<meta property="og:url" content="{{ site_url }}/{{ station_proxy.station.shortname }}"/> 
	<meta property="og:title" content="{{ station_proxy.station.name }}"/> 
	<meta property="og:description" content="Listen now to {{ station_proxy.station.name }} on Phonoblaster."/>
	<meta property="og:image"  content="https://graph.facebook.com/{{ station_proxy.station.key.name }}/picture?type=large"/> 
	<meta property="og:site_name" content="Phonoblaster"/>
	<meta property="og:video:type" content="text/html"/>
	<meta property="og:video" content="{{ site_url }}/{{ station_proxy.station.shortname }}"/>
	<meta property="{{ version }}:page" content="{{ station_proxy.station.link }}"/>
{% endblock %}

{% block main %}
	<div id="left-column">
		<div class="fixed">
			{% include "left_column.html" %}
			{% block left-column %}
			{% endblock %}
		</div>
	</div>
	<div id="middle-column">
		{% block middle-column %}
		{% endblock %}
	</div>
	<div id="right-column">
		{% block right-column %}
		{% endblock %}
	</div>
{% endblock %}

<!-- No footer because of position:fixed for left column -->
{% block footer %}
{% endblock%}