{% extends "base.html" %}

{% block meta %}
	<title>{{ station_proxy.station.name }}</title>
	<meta name="description" content="Listen now to {{ station_proxy.station.name }} station on Phonoblaster.">
{% endblock %}

{% block facebook %}
	<!-- Station Open Graph Tags -->
	<meta property="fb:app_id" content="{{ facebook_app_id }}"/>
	<meta property="og:type" content="{{ version }}:station"/> 
	<meta property="og:url" content="{{ site_url }}/{{ station_proxy.station.shortname }}"/> 
	<meta property="og:title" content="{{ station_proxy.station.name }}"/> 
	<meta property="og:description" content="Listen now to {{ station_proxy.station.name }} on Phonoblaster."/>
	<meta property="og:image"  content="https://graph.facebook.com/{{ station_proxy.station.key.name }}/picture?type=large"/> 
	<meta property="og:site_name" content="Phonoblaster"/>
	<meta property="og:video:type" content="text/html"/>
	<meta property="og:video" content="{{ site_url }}/{{ station_proxy.station.shortname }}"/>
	<meta property="{{ version }}:page" content="{{ station_proxy.station.link }}"/>
{% endblock %}

{% block style %}
	<link type="text/css" rel="stylesheet" href="/{{tag}}/static/css/station/station.css">
{% endblock %}

{% block main %}
	<!-- Background -->
	<div id="background" class="stretch">
		<!-- Example -->
	 	<img src="/{{tag}}/static/images/smoking.jpg" class="stretch"/>
	</div>
	<!-- Station column -->
	<div id="station-column" class="stretch">
		<!-- Station Information -->
		<div id="station-information">
			<div id="station-picture">
				<img src="https://graph.facebook.com/{{ station_proxy.station.key.name }}/picture?type=square">
			</div>
			<div id="station-shortname">@{{ station_proxy.station.shortname }}</div>
			<div id="station-name">
				<p>{{ station_proxy.station.name }}</p>
				<a href="{{ station_proxy.station.link }}" class="fb-page" target="_blank"></a>
				<div class="fb-like" data-href="{{ station_proxy.station.link }}" data-send="false" data-layout="button_count"  data-show-faces="false"></div>
			</div>
		</div>
		<!-- Media -->
		<div id="media">
			<div id="youtube-player">
				<img src="/{{tag}}/static/images/loader.gif" class="loader"/>
			</div>
		</div>
		<div id="media-bar">
			<div id="media-bar-filler"></div>
		</div>
		<div id="media-details">
			<div id="media-id"><!-- Div necessary for JS --></div>
			<div id="media-picture">
				<!--  Example: -->
				<!-- <img src="http://i1.ytimg.com/vi/yBP_Re9r9MI/default.jpg"/> -->
			</div>
			<div id="media-info">
				<div id="media-info-top">
					<h3>Current track</h3>
					<div id="media-submitter">
						<!--  Example: -->
						<!--
							<img src="http://graph.facebook.com/damien.detcherry/picture?type=square">
							<span>Rebroadcast of</span> 
						-->
					</div>
				</div>
				<div class="stroke grey"></div>
				<div id="media-title">Loading...</div>
				<div id="media-fav">
					<!-- Example: -->
				  	<!-- <a class="fav tuto" data-original-title="Favorite this track!" href="#"></a> -->
				</div>
				<div id="media-volume" class="unmuted"></div>
			</div>
		</div>
		<!-- Listeners counter -->
		<div id="sessions">
			<div class="stat">
				<span class="figure">0</span>
				<span class="title">Listeners<span>
			</div>
			<div id="listeners">
				<!-- Example -->
				<!--
					<a href="" class="tuto listener" data-original-title="Damien Detcherry">
						<img src="http://graph.facebook.com/damien.detcherry/picture?type=square">
					</a>
				-->
			</div>
			{% if is_admin %}
			<a id="share" class="btn primary" href="#" class="tuto" data-original-title="Share your station on Facebook!">
				Bring your fans!
			</a>
			{% else %}
			<a id="share" class="btn primary" href="#" class="tuto" data-original-title="Share this station on Facebook!">
				Bring your friends!
			</a>
			{% endif %}
		</div>
		<!-- Broadcasts counter -->
		<div id="broadcasts" class="stat">
			<span class="figure">{{ station_proxy.number_of_broadcasts }}</span>
			<span class="title">Broadcasts</span>
		</div>
		<!-- Views counter -->
		<div id="views" class="stat">
			<span class="figure">{{ station_proxy.number_of_views }}</span>
			<span class="title"> Views</span>
		</div>
		<!-- Suggestions counter -->
		<div id="suggestions" class="stat">
			<span class="figure">{{ station_proxy.number_of_suggestions }}</span>
			<span class="title"> Suggestions</span>
		</div>
		<div id="front-office">
		
		</div>
		<!-- Overlay -->
		<div id="overlay" class="stretch">
			<!-- Back office column -->
			<div id="back-office" class="stretch">
				puis de nombreuses années." Le quotidien voit même dans ce choix une "Opération camomille", destinée à "apaiser ybride, un véhicule plus petit que tous ceux que l'on a pu voir à Chelsea depuis l'invention des 4X4". Le quotidien conservateur brit en faire trop dans le genre dépouillé. La sobriété, ça va, mais il faudra éviter qu'elle tourne à la naïveté ou au snobisme à l'envers. (...) Etre président de la France n'est ni bling-bling ni banal."

				"ORAGEUX"

				L'avion présidentiel foudroyé fait lui aussi les délices des éditorialistes. Le Guardian l'avoue tout net, se proposant de "remercier les dieux de la métaphore, probablement ceux qui ont envoyé la foudre sur l'avion de François Hollande." Le quotidien britannique de centre gauche n'y voit "pas de meilleur présage" de la "guerre" qui s'annonce autour du sort de la monnaie unique : "Guerre entre gauche et droite, entre austérité et croissance, et entre le nouvellement élu et idéaliste M. Hollande et l'aguerrie pragmatique Mme Merkel". "Orageux, en effet", conclut le journal.

				La Süddeutsche Zeitung cherche, elle, à tirer les premiers enseignements de cette prise de contact entre les dirigeants français et allemands. "Est-ce la fin du tandem franco-allemand ? Pas du tout ! Hollande va se modérer, Merkel va bouger. (...) François Hollande n'a pas une vision qui rappeller
			hore, probablement ceux qui ont envoyé la foudre sur l'avion de François Hollande." Le quotidien britannique de centre gauche n'y voit "pas de meilleur présage" de la "guerre" qui s'annonce autour du sort de la monnaie unique : "Guerre entre gauche et droite, entre austérité et croissance, et entre le nouvellement élu et idéaliste M. Hollande et l'aguerrie pragmatique Mme Merkel". "Orageux, en effet", conclut le journal.

				La Süddeutsche Zeitung cherche, elle, à tirer les premiers enseignements de cette prise de contact entre les dirigeants français et allemands. "Est-ce la fin du tandem franco-allemand ? Pas du tout ! Hollande va se modérer, Merkel va bouger. (...) François Hollande n'a pas une vision qui rappeller
			</div>
		</div> 
	</div>
	<!-- Chat -->
	<div id="chat">
		<div id="chat-header">
			<span class="round"></span>
			<span id="chat-title">Chat</span>
			<span id="chat-alert">
				<span id="chat-alert-number">0</span>
				<span id="chat-alert-arrow"></span>
			</span>
		</div>
		<div id="chat-content">
			<div id="chat-wrapper">
				<div id="chat-feed">
					<!-- Example -->
					<!--
					<div class="im">
						<div class="im-picture">
							<img src="https://graph.facebook.com/{{ station_proxy.station.key.name }}/picture?type=square">
						</div>
						<div class="im-content">
							<div class="im-text"><a href="">Randomblaster </a>It's absolutely amazing blablablabla</div>
							<div class="im-time">18:18</div>
						</div>
					</div>
					-->
				</div>
			</div>
			<div id="chat-field">
				<div id="chat-picture">
					{% if user_proxy %}
						{% if is_admin %}
						<img class="tuto" data-original-title="{{ station_proxy.station.name }}" src="https://graph.facebook.com/{{ station_proxy.station.key.name }}/picture?type=square">
						{% else %}
						<img class="tuto" data-original-title="{{ user_proxy.user.first_name }} {{ user_proxy.user.last_name }}" src="https://graph.facebook.com/{{ user_proxy.user.key.name }}/picture?type=square">
						{% endif %}
					{% else %}
					<img src="/{{tag}}/static/images/unknown.png">
					{% endif %}
				</div>
				<form method="post" action="" id="chat-form">
					<input type="text" name="chat" id="chat-input" value="Share the love..." autocomplete="off"/>
					<input type="submit"id="chat-submit" value="Send"/>
				</form>
			</div>
		</div>
	</div>
	<!-- Share popup -->
	<div class="popup" id="popup-share">
		{% if is_admin %}<h2>Share on {{ station_proxy.station.name }} Wall</h2>{% else %}<h2>Share on your Wall</h2>{% endif %}
		<form action="#" method="post">
			{% if is_admin %}
			<img class="thumbnail" src="https://graph.facebook.com/{{ station_proxy.station.key.name }}/picture?type=square"/>
			{% else %}
			<img class="thumbnail" src="https://graph.facebook.com/{{ user_proxy.user.key.name }}/picture?type=square"/>
			{% endif %}
			<textarea></textarea>
			<img class="station" src="https://graph.facebook.com/{{ station_proxy.station.key.name }}/picture?type=square"/>
			<div class="facebook-link">
				<span class="link">{{ station_proxy.station.name }}</span>
				<span class="description">Listen now to {{ station_proxy.station.name }} station on Phonoblaster.</span>
			</div>
			<div class="modal-footer">
				<input type="submit" class="btn primary" value="Share!"/>
			</div>
		</form>
	</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
<!-- Pubnub -->
<div sub-key="sub-aa6b101e-24e9-11e1-ab04-3b69d50a7fd4" ssl="off" origin="pubsub.pubnub.com" id="pubnub"></div>
<script src="https://pubnub.s3.amazonaws.com/pubnub-3.1.min.js"></script>
<!-- App Engine -->
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<!-- Station -->
<script type="text/javascript" src="/{{tag}}/static/js/library/json2.js"></script>
<script type="text/javascript" src="/{{tag}}/static/js/station/counter.js"></script>
<script type="text/javascript" src="/{{tag}}/static/js/station/share.js"></script>
<script type="text/javascript" src="/{{tag}}/static/js/station/session.js"></script>
<script type="text/javascript" src="/{{tag}}/static/js/station/tab.js"></script>
<script type="text/javascript" src="/{{tag}}/static/js/station/chat.js"></script>
<script type="text/javascript" src="/{{tag}}/static/js/station/main.js"></script>
<script type="text/javascript">
	/*--- Reset ---*/
	USER = null;
	ADMIN = false;
 	STATION = null;
	/*--- User Initialization ---*/
	{% if user_proxy %} 
	USER = {
		"key_name": "{{ user_proxy.user.key.name }}",
		"name": "{{ user_proxy.user.first_name }} {{ user_proxy.user.last_name }}",
	}
	{% endif %}
	/*--- Admin Initialization ---*/
	{% if is_admin %} 
	ADMIN = true;
	{% endif %}
	/*--- Station Initialization ---*/
	STATION = {
		"key_name": "{{ station_proxy.station.key.name }}",
		"shortname": "{{ station_proxy.station.shortname }}",
		"name": "{{ station_proxy.station.name}}",
	}
</script>
{% endblock %}
