{% extends "root.html" %}

{% block meta %}
	<title>{{ current_station.identifier }}</title>
	{% if current_station.description %}
	<meta name="description" content="{{ current_station.description }}">
	{% else %}
	<meta name="description" content="Listen LIVE to {{ current_station.identifier }} music stream on Phonoblaster.">
	{% endif %}
{% endblock %}

{% block facebook %}
	<meta property="og:title" content="{{ current_station.identifier }}" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="{{ site_url }}/{{ current_station.identifier }}" />
	<meta property="og:image" content="{{ site_url }}/picture/view/{{ current_station.picture.key }}" />
	<meta property="og:description" content="{{ current_station.description }}"/>
	<meta property="og:site_name" content="Phonoblaster"/>
	<meta property="fb:app_id" content="{{ facebook_app_id }}" />
{% endblock %}

{% block left-column %}
	<div class="info">
		<p class="top">Listeners (<span id="number_of_listeners"></span>)</p>
		<div id="listener_items" class="items">
		</div>
	</div>
	<div id="volume">
		<a href="">
			<img src="/static/images/unmuted.png" id="on">
			<img src="/static/images/muted.png" id="off" style="display:none;">
		</a>
	</div>
	{% if status_creator %}
	<div id="edit_station">
		<a href="/{{ current_station.identifier }}/edit">Edit my station</a>
	</div>
	{% endif %}
{% endblock %}


{% block middle-column %}
	<h2 class="station-title">{{ current_station.identifier }}</h2>
	<div id="sharing">
		<div class="fb-like" data-href="{{ site_url }}/{{ current_station.identifier }}" data-send="false" data-show-faces="false" layout="button_count"></div>
		<a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ site_url }}/{{ current_station.identifier }}" 
		data-text="Come and listen to great music in the #{{ current_station.identifier }} station" data-count="none" data-via="phonoblaster">
		Tweet</a>
	</div>
	<div id="live-video">
		<div id="youtube-player">
			<div class="info">
				<img src="/static/images/small-ajax-loader.gif"/>
				<p style="display:none;">No live song yet</p>
			</div>
		</div>
		<div id="progression_bar">
			<div id="filler">
			</div>
		</div>
	</div>
	<div id="live-chat">
		<div id="typebox">
			{% if current_user %}
				<div id="current-user-chat">
					<img src="http://graph.facebook.com/{{ current_user.facebook_id }}/picture?type=square">
				</div>
				<form method="post" action="" id="chat">
					<input type="text" name="message" id="chat_content" value="Start chatting, commenting, sharing the love" autocomplete="off"/>
					<input type="submit" value="Chat" class="submit"/>
				</form>
			{% else %}
				<div id="no-current-user-chat">
					<fb:login-button autologoutlink="true" scope="email"></fb:login-button>
					to chat now!
				</div>
			{% endif %}
		</div>
		<div id="conversation">
		</div>
	</div>

{% endblock %}

{% block right-column %}
	<ul id="tabs">
		<li style="width:52px;"><a href="#tracks_tab" class="current" style="width:38px">Next</a></li>
		{% if allowed_to_post %}
		<li style="width:108px;"><a href="#search_tab" style="width:94px;">Search tracks</a></li>
		<li style="width:76px;"><a href="#latest_tab" style="width:62px;">Latest</a></li>
		{% endif %}
	</ul>
	<div id="tab_content_wrap">
		<div id="tracks_tab" class="tab_content">
			<div id="tracks">
			</div>
		</div>
		{% if allowed_to_post %}
		<div id="search_tab" class="tab_content">
			<div id="search">
				<form method="post" action="" id="search">
					<input type="text" name="search_content" id="search_content" autocomplete="off"/>
					<input type="submit" value="Search" id="search_button" class="submit"/>
				</form>
			</div>
			<div id="search_results">
				No search yet.
			</div>
		</div>
		<div id="latest_tab" class="tab_content">
			<div id="latest">
				<div id="header_buttons">
					<div class="fill_buffer"><a href="" class="button fill_buffer">Add the latest!</a></div>
					<div class="shuffle_buffer"><a href="" class="button shuffle_buffer">Shuffle!</a></div>
				</div>
				<p id="latest_tracks_paragraph">Tracks you recently posted:</p>
				<div class="loader" style="margin-top:20px;">
					<img src="/static/images/small-ajax-loader.gif" class="loader"/>
				</div>
			</div>
		</div>
		{% endif %}
	</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
	<script type="text/javascript" src="/static/js/station/slimscroll.js"></script>
	<script type="text/javascript" src="/static/js/station/scrollbar.js"></script>
	<script type="text/javascript" src="/static/js/json2.js"></script>
	<script type="text/javascript" src="/static/js/station/twipsy.js"></script>
	<script type="text/javascript" src="/static/js/station/tab.js"></script>
	<script type="text/javascript" src="/static/js/station/search.js"></script>
	<script type="text/javascript" src="/static/js/station/swfobject.js"></script>
	<script type="text/javascript" src="/static/js/station/station.js"></script>
	<script type="text/javascript" src="/static/js/station/chat.js"></script>
	{% if allowed_to_post %}
		<script type="text/javascript" src="/static/js/station/latest.js"></script>
	{% endif %}
	<script type="text/javascript" src="/_ah/channel/jsapi"></script>
	<script>
		//Global variables
		station_key = "{{ current_station.key }}";
		station_id = "{{ current_station.identifier }}"
		user_id = "{{ current_user.key.id }}"
		user_public_name = "{{ current_user.public_name }}"
		user_fcbk_id = "{{ current_user.facebook_id }}"
		{% if allowed_to_post %}
			allowed_to_post = true;
		{% else %}
			allowed_to_post = false;
		{% endif %}
		dispatcher = new Dispatcher();
  </script>
{% endblock %}
