{% extends "station/secondary.html" %}

{% block meta %}
	<title>{{ suggestion.youtube_title }}</title>
	<meta name="description" content="Suggested to {{ station_proxy.station.name }} by {{ suggestion.track_submitter_name }}">
	 
{% endblock %}

{% block facebook %}
	<!-- Suggestion Open Graph Tags -->
	<meta property="fb:app_id" content="{{ facebook_app_id }}"/>
	<meta property="og:type" content="{{ version }}:suggestion"/> 
	<meta property="og:url" content="{{ site_url }}/suggestion/{{ suggestion.key_name }}"/> 
	<meta property="og:title" content="{{ suggestion.youtube_title }}"/> 
	<meta property="og:description" content="Suggested to {{ station_proxy.station.name}} by {{ suggestion.track_submitter_name }}"/>
	<meta property="og:image"  content="http://i.ytimg.com/vi/{{ suggestion.youtube_id }}/hqdefault.jpg"/> 
	<meta property="og:site_name" content="Phonoblaster"/>
	<meta property="og:video:type" content="text/html"/>
	<meta property="og:video" content="{{ site_url }}/suggestion/{{ suggestion.key_name }}"/>
	<meta property="{{ version }}:station" content="{{ site_url }}/{{ station_proxy.station.shortname }}"/>
{% endblock %}

{% block secondary-script %}
<script type="text/javascript" src="/{{tag}}/static/js/station/suggestion.js"></script>
<script type="text/javascript">
	// ------- Track Initialization ----------
	var CONTENT = {
		"key_name": "{{ suggestion.key_name }}",
		"message": "{{ suggestion.message }}",
		"created": "{{ suggestion.created }}",
		"youtube_id": "{{ suggestion.youtube_id }}",
		"youtube_title": "{{ suggestion.youtube_title }}",
		"youtube_duration": "{{ suggestion.youtube_duration }}",
	}
	
	var LIVE_ITEM = {
		"id": CONTENT.key_name,
		"content": CONTENT,
		"created": CONTENT.created,
	}
</script>
{% endblock %}