#dbupgrade{
	height: 100px;
}

#dbupgrade h1{
	margin-top: 10px;
}

#dbupgrade > .btn{
	margin-left: 15px;
	margin-top: 10px;
}

#dbupgrade table{
	border:none;
}

#dbupgrade table > td + td{
	border:none;
}