/* ----- GENERAL STYLE in BROADCASTER</*> PAGES ----*/

#left-column, #middle-column, #right-column{
	padding-top:6px;
}

#left-column{
	width:120px;
	padding-right:10px;
}

#middle-column{
	padding-left:10px;
	padding-right:10px;
	width:520px;
}

#right-column{
	padding-left:10px;
	width:320px;
}

/* ---- LEFT COLUMN STYLE ----- */

#left-column{
	text-align:center;
}

#left-column img.thumbnail{
	max-width:120px;
	max-height:120px;
}