.container{
	float:none;
	width:600px;
	margin:auto;
}

/*-------- CANVAS FACEBOOK FOR REQUESTS ------*/

header h2{
	margin-top:15px;
	float:right;
}

.facebook-request{
	padding-bottom:10px;
	width:100%;
	border-bottom:1px solid #ddd;
}

.top-request{
	width:100%;
	padding-top:10px;
	padding-bottom:10px;
}

.top-request img.img{
	display:block;
	float:left;
	width:50px;
}

.top-request img.bubble{
	display:block;
	float:left;
	margin-left:1%;
	width:3%;
	height:55px;
	border:none;
}

.top-request p{
	width:81%;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:2%;
	padding-right:2%;
	height:35px;
	background:white;
}

.top-request p a{
	text-decoration:underline;
}

.bottom-request{
	margin-bottom:10px;
	margin-left:12%;
	width:83%;
	padding-top:12px;
	padding-left:2%;
	padding-right:2%;
	padding-bottom:12px;
	font-size:13px;
	color:#373535;
	background:white;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

.bottom-request img{
	display:block;
	float:left;
	height:70px;
}

.bottom-request p{
	padding-top:5px;
	padding-bottom:5px;
	padding-left:2%;
	padding-right:2%;
	width:75%;
}

.bottom-request p.identifier{
	font-style:italic;
	font-weight:bold;
}

.bottom-request a{
	clear:left;
	margin-top:10px;
	margin-left:10px;
	padding:10px;
	color:white;
}

